extends layout

block content
    nav.navbar.navbar-default
        div.container-fluid
            div.navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse' data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#')= title

            div.collapse.navbar-collapse(id='bs-example-navbar-collapse-1')
                ul.nav.navbar-nav
                    li.active
                        a(href='#') Link 
                            span.sr-only (current)
                    li
                        a(href='#') Link
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Dropdown
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                            li
                                a(href='#') Something else here
                            li.divider(role='separator')
                            li
                                a(href='#') Separated link
                            li.divider(role='separator')
                            li
                                a(href='#') One more separated link

                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#') Link
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Dropdown
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                            li
                                a(href='#') Something else here
                            li.divider(role='separator')
                            li
                                a(href='#') Separated link

    div.container
        div.row(style='background-color: white;')
            //-  แนะนำผลิตภัณฑ์
            div.hidden-xs.col-sm-6.col-md-6(style='text-align: right') 
                h1(style='font-weight: bold') D-Boon 
                p(style='font-size: 1.5em') D-Boon เป็นผลิตภัณฑ์อาหารเสริม
                p(style='font-size: 1.5em') ช่วยเรื่องความเสื่อมของกระดูกและข้อต่อต่างๆในร่างกาย 
                p(style='font-size: 1.5em') ด้วยส่วนผสมที่ลงตัวเพื่อการซ่อมแซมเนื้อเยื่อกระดูกอ่อน
                p(style='font-size: 1.5em') มียอดขายสูงสุดทั้งในยุโรปและอเมริกา

            div.hidden-xs.col-sm-6.col-md-6(style='') 
                img(src='/img/pic_dboon.jpg', alt='ผลิตภัณฑ์อาหารเสริม D-Boon', style='width: 100%;')

        div.row(style='background-color: #EBE8E0;')
            //- แนะนำส่วนผสมและข้อดีของส่วนผสม
            div.hidden-xs.col-sm-12.col-md-12(style='')
                h2(style='font-weight: bold; padding-left: 1.5em;') D-Boon ช่วยลดความเสื่อมของกระดูกอย่างไร
            div.hidden-xs.col-sm-6.col-md-6(style='')
                p(style='font-size: 1.5em') 1.คอนดรอยติน(Chondroitin) เป็นสารที่อยู่ในบริเวณข้อต่อตามร่างกายโดยเฉพาะบริเวณกระดูกอ่อน ซึ่งมีหน้าที่ทำให้เราสามารถขยับข้อต่อได้ตามปกติ เมื่อร่างกายของเรามีอายุมากขึ้นข้อต่อและกระดูกอ่อนต่างๆเริ่มเสื่อมสภาพลง จึงส่งผลให้เกิดอาการปวดตามข้อได้ง่ายขึ้น การเสริมสร้างด้วยคอนดรอยตินนั้นจะช่วยเสริมสร้างกระดูกอ่อนให้กลับมาแข็งแรงขึ้นเคลื่อนไหวร่างกายได้ง่ายสะดวกมากขึ้น ในปัจจุบันมีการสกัดสารคอนดรอยตินจากกระดูกอ่อนของปลาทะเลน้ำลึกเพื่อนำมาประยุกต์ใช้อย่างแพร่หลายในวงการแแพทย์ สำหรับบำรุงข้อช่วยบรรเทาอาการจากโรคข้อเสื่อม ข้ออักเสบและบรรเทาอาการอักเสบของผิวหนัง โดยพบว่ากระดูกอ่อนปลาฉลามจะประกอบไปด้วย โปรตีนคอลลาเจนและสารในกลุ่มไกลโคสะมิโนไกลแคน (Glycosaminoglycans) ซึ่งโดยส่วนใหญ่เป็นสารคอนดรอยติน (Chondroitin) ที่จะช่วยเสริมสร้าง ซ่อมแซม บำรุงกระดูกอ่อนและยังช่วยชะลอโรคและบรรเทาอาการได้ดีในโรคข้อเข่าเสื่อม
            div.hidden-xs.col-sm-6.col-md-6(style='')
                p(style='font-size: 1.5em') 2.  แคลเซียมสกัดจากไข่มุก(Pearl calcium)  สารอาหารจากไข่มุกธรรมชาติ  อุดมไปด้วยกรดอะมิโน 18 ชนิด เช่น Threonine, Serine, Glutamic acid, Glycene, Argine พร้อมด้วยแร่ธาตุ 56  ที่มีความจำเป็นต่อการสังเคราะห์โครงสร้างผิว เช่น Germanium, Selenium, Strontium และมีความสำคัญต่อการสังเคราะห์ DNA และ RNA เพื่อสร้างเซลล์ผิวใหม่ ที่ส่งเสริมการทำงานของเอ็นไซม์ SOD ช่วยยับยั้งการสร้างเมลานิน มีส่วนช่วยเร่งการเจริญเติบโต เร่งโครงสร้างให้ร่างกายสูงใหญ่ได้ตามเด็กที่กำลังเจริญเติบโต
            div.hidden-xs.col-sm-6.col-md-6(style='')
                p(style='font-size: 1.5em') 3. วิตามินดี (Vitamin D) วิตามินดีเป็นส่วนสำคัญสำหรับการดูดซึมและการเผาผลาญของแคลเซียมและฟอสฟอรัส ซึ่งช่วยให้ร่างกายได้รับแคลเซียมและฟอสฟอรัสมากขึ้นโดยวิตามินดีมีหน้าที่ในการดูดซึมแคลเซียมและฟอสฟอรัส จากลำไส้เข้าสู่กระแสเลือด ซึ่งแคลเซียมนั่นก็จะถูกร่างกายนำไปเสริมสร้างกระดูกอีกที ซึ่งแคลเซียมและฟอสฟอรัสมีส่วนสำคัญต่อกระบวนการต่างๆของร่างกายโดยเฉพาะการบำรุงรักษาของสุขภาพกระดูกและฟันหากต้องการมีกระดูกที่แข็งแรง การรับประทานแคลเซียมเพียงอย่างเดียวนั้นอาจไม่เพียงพอ เพราะอีกองค์ประกอบในการเสริมสร้างให้ร่างกายดูดซึม และใช้แคลเซียมได้อย่างมีประสิทธิภาพก็คือวิตามินดีนั่นเอง
            div.hidden-xs.col-sm-6.col-md-6(style='')
                p(style='font-size: 1.5em') 4.คอลลาเจน (Collagen) คอลลาเจนเป็นโปรตีนที่สำคัญของร่างกาย เพราะเป็นส่วนประกอบสำคัญของอวัยวะต่างๆ หลายๆอวัยะ เช่น เอ็นกล้ามเนื้อ เอ็น และผิวหนัง ทั้งพบมากในกระจกตา กระดูกอ่อน กระดูก หลอดเลือด ทางเดินอาหารและหมอนกระดูกสันหลังและคอลลาเจนยังมีอยู่ด้วยกันหลายชนิด โดยคอลลาเจนไทพ์ทู ( Collagen Type II ) จะเป็น คอลลาเจนชนิดที่พบได้ในกระดูกอ่อนและหมอนรองกระดูกสันหลัง คอลลาเจนชนิดนี้ ช่วยเสริมสร้างกระดูกอ่อน ทำให้อาการของข้อเสื่อมดีขึ้น และยังสามารถป้องกันการเสื่อมของข้อได้อีกด้วย
            div.hidden-xs.col-sm-6.col-md-6(style='')
                p(style='font-size: 1.5em') 5.ผงขมิ้น (Turmeric)ขมิ้นเป็นพืชสมุนไพรที่มีสารต้านอนุมูลอิสระอยู่เป็นจำนวนมากที่สามารถต้านไวรัส เชื้อแบคทีเรียเชื้อรา มะเร็งและมีสารสำคัญในการออกฤทธิ์ลดการอักเสบ คือ สารที่มีชื่อว่า curcuminมีผลช่วยบรรเทาอาการโรคข้อเข่าเสื่อมและไขข้ออักเสบได้ เช่น รูมาตอยด์ เป็นต้น มีการทดลองทางคลินิกในผู้ป่วยที่มีปัญหากระดูกและข้ออักเสบเรื้อรังโดยใช้สมุนไพรที่มีส่วนประกอบของขมิ้นพบว่า การได้รับสมุนไพรดังกล่าว สามารถลดความเจ็บปวดที่รุนแรงได้นอกจากนี้ขมิ้นยังมีสารอาหารที่ดีต่อสุขภาพหลายอย่างเช่น โปรตีน ใยอาหาร ไนอาซิน วิตามินซี วิตามินอี วิตามินเค โพแทสเซียม แคลเซียม ทองแดง เหล็ก แมกนีเซียมและสังกะสี ด้วยการขมิ้นชันอุดมไปด้วยสารอาหารมากมาย จึงทำให้ขมิ้นชันนิยมถูกนำมาใช้ในการรักษาปัญหาสุขภาพต่างๆมากมาย
            div.hidden-xs.col-sm-6.col-md-6(style='')
                p(style='font-size: 1.5em') 6.สารสกัดจากเปลือกสนฝรั่งเศส(Pine Bark Exrtact) เป็นสารที่มีคุณสมบัติต่อต้านอนุมูลอิสระที่มีประสิทธิภาพสูง (Super Antioxidation) เเละยังเสริมฤทธิ์การทำงานของวิตามิน C เเละวิตามิน E ช่วยป้องกันร่างกายจากอนุมูลอิสระที่เกิดขึ้นในร่างกายตลอดเวลา รวมทั้งปัจจัยภายนอกต่างๆ อันเป็นสาเหตุของความเสื่อมของอวัยวะต่างๆ และยังช่วยปรับปรุงการไหลเวียนเลือดช่วยให้เลือดนำออกซิเจนไปเลี้ยงส่วนต่างๆของร่างกายได้มากขึ้น สารสกัดจากเปลือกสนฝรั่งเศสยังเป็นแหล่งธรรมชาติของสารอาหารซัลเฟอร์ ที่สร้างความแข็งแรงให้กับไขข้อกระดูก เป็นองค์ประกอบของการสังเคราะห์สารคอลลาเจนในข้อ

        div.row(style='background-color: white;')
            //- ข้อมูลติดต่อเรา
            div.hidden-xs.col-sm-12.col-md-12(style='')
                p(style='font-size: 1.5em') ติดต่อเราได้ที่.....

