extends layout

block content
    nav.navbar.navbar-default
        div.container-fluid
            div.navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse' data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#')= title

            //-div.collapse.navbar-collapse(id='bs-example-navbar-collapse-1')
                ul.nav.navbar-nav
                    li.active
                        a(href='#') Link 
                            span.sr-only (current)
                    li
                        a(href='#') Link
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Dropdown
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                            li
                                a(href='#') Something else here
                            li.divider(role='separator')
                            li
                                a(href='#') Separated link
                            li.divider(role='separator')
                            li
                                a(href='#') One more separated link

                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#') Link
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Dropdown
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                            li
                                a(href='#') Something else here
                            li.divider(role='separator')
                            li
                                a(href='#') Separated link

    div.container
        div.row
            //-  แนะนำผลิตภัณฑ์
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.carousel.slide.clear-padding(id='DboonCarousel', data-ride='carousel')
                //- Indicators
                ol.carousel-indicators
                    li.active(data-target='#DboonCarousel', data-slide-to='0') 
                    li(data-target='#DboonCarousel', data-slide-to='1')

                //- Wrapper for slides
                div.carousel-inner(role='listbox')
                    div.item.active
                        img(src='/img/d-boon-med.jpg', alt='D-Boon ชนิดเม็ด รับประทานวันละ 1 เม็ด', width='460', height='345')
                    div.item
                        img(src='/img/d-boon-pong.jpg', alt='D-Boon ชนิดผง ผสมน้ำพร้อมรับประทาน', width='460', height='345')
                    
                
                //- Left and right controls
                //-a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                    span.sr-only Previous

                //-a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                    span.sr-only Next

        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8(style='background-color: white;')
                p
                    h1(style='font-weight: bold') D-Boon 
                    p(style='font-size: 1.5em') (ดีบูน หรือ ดีบูเน่ D-Boone) เป็นผลิตภัณฑ์อาหารเสริมที่ช่วยเรื่องความเสื่อมของกระดูกและข้อต่อต่างๆในร่างกาย มีส่วนผสมที่ลงตัวเพื่อการซ่อมแซมเนื้อเยื่อกระดูกอ่อนรอบๆข้อต่อ เอ็นร้อยหวาย และเอ็นยึดข้อ จึงเป็นอาหารเสริมที่มียอดขายสูงสุดทั้งในยุโรปและอเมริกา ด้วยสารอาหารที่ครบถ้วนเสริมสร้างความแข็งแรงของกระดูกและข้อ
        
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-5.col-md-5
                h2(style='font-weight: bold') D-Boon&nbsp;เหมาะสำหรับ
                div.col-xs-12.col-sm-12.col-md-12
                    ul(style='font-size: 1.4em;')
                        li ป้องกันการเกิดโรคกระดูกพรุน
                        li โรคหมอนรองกระดูกสันหลังเคลื่อน
                        li นิ้วล็อค&nbsp;โรคฮิตของคนทำงาน
                        li บรรเทาอาการปวดข้อ
                        li สตรีวัยหมดประจำเดือน&nbsp;ขาดแคลเซียม
                        li ผู้ที่ต้องการเพิ่มความสูง
                        li นักกีฬา&nbsp;หรือผู้ที่ต้องการออกกำลังกายเป็นจำ
                        li ผู้ที่มีอาชีพที่ต้องยืนเป็นเวลานานๆ
                        li ผู้ที่มีปัญหาโรคข้อเสื่อม&nbsp;ข้ออักเสบ&nbsp;กระดูกพรุน
                        li ป้องกันการเกิดโรคข้อเสื่อม
            div.hidden-xs.col-sm-3.col-md-3
                img(src='/img/samart.jpg', alt='D-Boon และ คุณสามารถ พยักฆ์อรุณ', style='width: 100%;')

        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8(style='background-color: white;')
                
                h2(style='font-weight: bold') ส่วนประกอบสำคัญ
                div.hidden-xs.col-sm-2.col-md-2
                div.col-xs-12.col-sm-8.col-md-8
                    table(style='width: 100%; margin: auto;')
                        tr
                            td 
                                div Hydrolyzed&nbsp;Fish&nbsp;Collagen
                                div (คอลลาเจนจากปลาทะเล)
                            td 
                                div.table-content-right 250.000&nbsp;มิลลิกรัม
                        tr
                            td 
                                div Shark&nbsp;Cartilage
                                div (กระดูกอ่อนปลาฉลาม)
                            td 
                                div.table-content-right 100.000&nbsp;มิลลิกรัม
                        tr
                            td 
                                div Pine&nbsp;Bark&nbsp;Extract&nbsp;(MSM)
                                div (สารสกัดจากเปลือกสน)
                            td 
                                div.table-content-right 60.000&nbsp;มิลลิกรัม
                        tr
                            td 
                                div Ascorbic&nbsp;Acid 
                                div (แอสคอร์บิค&nbsp;เอซิด)
                            td 
                                div.table-content-right 60.000&nbsp;มิลลิกรัม
                        tr
                            td 
                                div Turmeric&nbsp;Extract&nbsp;Powder
                                div (สารสกัดจากขมิ้น)
                            td 
                                div.table-content-right 30.000&nbsp;มิลลิกรัม
                        tr
                            td 
                                div Vitamin&nbsp;D3&nbsp;100&nbsp;SD/S 
                                div (วิตามิน&nbsp;ดี3)
                            td 
                                div.table-content-right 2.000&nbsp;มิลลิกรัม
                    
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding.media
                div.media-left.media-top
                    img.media-object(src='/img/review_customer_1.jpg', style='width:200px')
                div.media-body
                    h4.media-heading คุณโกสม - นิ้วล๊อค
                    p อาการ : เมื่อก่อนขับมอเตอร์ไซค์รับจ้างเป็นอาชีพเสริม ทั้งช่วงเช้าและเย็นทุกวันจนมีอาการนิ้วโป้งล๊อค งอไม่ได้ รวมทั้งปวดและตึงบริเวณหลัง จนต้องให้ลูกขึ้นเหยียบหลังเป็นประจำ
                    p หลังจากทาน ดีบูน (คู่กับ โกเรจินส์ ) : ครบ 1 เดือน อาการนิ้วล๊อคเริ่มดีขึ้นได้จนเป็นปกติ ผลพลอยได้ตามมาคือ อาการหลังแข็ง ปวดและตึง ก็หายไปแล้ว
        hr
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding.media
                div.media-left.media-top
                    img.media-object(src='/img/review_customer_2.jpg', style='width:200px')
                div.media-body
                    h4.media-heading คุณรุ่ง – หมอนรองกระดูกทับเส้นประสาท
                    p อาการ : ปวดหลัง ขาเริ่มไม่มีความรู้สึก เดินๆอยู่ก็ล้ม ลุกยืนไม่ขึ้น ใช้ชีวิตลำบาก
                    p ช่วงแรก : ทาน “ดีบูน” (ชนิดผง) คู่กับ “อเลอไทด์” ขาเริ่มรู้สึกมีแรง อาการปวดหลังเบาขึ้นมาก
                    p หลังจากนั้น : ทาน “ดีบูน” (ชนิดแคปซูล) คู่กับ “อเลอไทด์” อาการดีขึ้นอย่างเห็นได้ชัด ปัจจุบันไม่มีอาการปวดแล้ว และยังทานต่อเนื่องเพื่อบำรุงและป้องกัน
        hr
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding.media
                div.media-left.media-top
                    img.media-object(src='/img/review_customer_3.jpg', style='width:200px')
                div.media-body
                    h4.media-heading แม่อ่อน – ปวดเข่า อักเสบและบวม
                    p อาการ : ปวดมากๆ บริเวณเข่า ลุกก็ปวด นั่งก็ปวดเนื่องจากอักเสบและบวมมากๆ จนต้องดูดน้ำออกจากเข่าเพื่อลดอาการบวม และต้องฉีกยาระงับอาการปวดด้วย ใช้ชีวิตลำบากมาก
                    p ช่วงแรก : ทาน “ดีบูน” (ชนิดผง) วันล่ะ 2 ซอง อาการปวดเบาขึ้นมาก เดินได้สะดวกขึ้น อาการบวมลดลง เริ่มเดิน ลุก นั่ง คล่องตัวขึ้น
                    p หลังจากนั้น : ทาน “ดีบูน” (ชนิดแคปซูล) ต่อตอนนี้แทบจะไม่มีอาการปวดเลย และยังทานอย่างต่อเนื่องเพื่อบำรุงและป้องกัน
        hr
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding.media
                div.media-left.media-top
                    img.media-object(src='/img/review_customer_4.jpg', style='width:200px')
                div.media-body
                    h4.media-heading ป้ายุพิน – ข้อเข่าอักเสบระยะแรก
                    p อาการ : เวลายืนและเดินจะมีอาการปวดและบวมมากๆ
                    p ช่วงแรก : ทาน “ดีบูน” (ชนิดผง) อาการบวมลดลง เริ่มเดินคล่องตัวมากขึ้น
                    p หลังจากนั้น : ทาน “ดีบูน” (ชนิดแคปซูล) ปัจจุบันไม่มีอาการปวดแล้ว และยังทานต่อเนื่องเพื่อบำรุงและป้องกัน
        hr
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding.media
                div.media-left.media-top
                    img.media-object(src='/img/review_customer_5.jpg', style='width:200px')
                div.media-body
                    h4.media-heading ป้าฤดี – ข้อเข่าเสื่อม ดังก๊อบแก๊บ
                    p อาการ : ปวดเข่ามากๆ มีเสียงดังก๊อบแก๊บบริเวณหัวเข่า ต้องใช้ไม้เท้าประคองเวลายืนและเดิน
                    p ช่วงแรก : ทาน “ดีบูน” (ชนิดผง) รู้สึกอาการปวดเบาขึ้นมาก เสียงก็อบแก๊บเริ่มหายไป อาการเสียวบริเวณข้อเข่าลดลง
                    p หลังจากนั้น : ทาน “ดีบูน” (ชนิดแคปซูล) สามารถเดินได้เองโดยไม่ต้องใช้ไม้เท้าพยุง ประทับใจมากๆทานต่อเพื่อป้องกันและบำรุง
        hr
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding.media
                div.media-left.media-top
                    img.media-object(src='/img/review_customer_6.jpg', style='width:200px')
                div.media-body
                    h4.media-heading คุณปัลดา – ข้อเข่าเสื่อมมานาน 1 ปี
                    P มีอาการปวดเข่าทั้ง 2 ข้างมานานกว่า 1 ปีคุณหมอบอกข้อเข่าเสื่อม ให้ยาแก้ปวดและยาคลายกล้ามเนื้อมาทาน ก็ไม่ดีขึ้นระยะหลังยืนได้นาน ไม่ถึงชั่วโมง และเวลาขึ้นบันไดต้องโหนขึ้น จนต้องลาออกจากงานที่ทำ พอทานดีบูนจากเพื่อนที่แนะนำทานไป 1 กล่อง(5 ซอง)ปรากฏว่าอาการปวดลดลงขึ้นบันไดไม่ต้องโหนหรือจับราวบันไดได้แล้วประทับใจดีบูนมากค่ะ
        hr
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding.media
                div.media-left.media-top
                    img.media-object(src='/img/review_customer_7.jpg', style='width:200px')
                div.media-body
                    h4.media-heading คุณเจริญ โปร่งศิริ อยู่ที่จ.ประจวบศีรีขันธ์
                    p โดนล้อยางรถบนต์ ตกทับจนขาหักหมอต้องผ่าตัดใส่เหล็กและเข้าเฝือกแต่หลังจากถอดเฝือกออกมามีอาการปวดที่ขามาก เวลาเดินจะเหมือนคนขาไม่เท่ากันลูกสาวได้ซื้อโกเรจินส์-ดี ทานคู่กับ ดีบูน ทานได้ 1 สัปดาห์ ก็สามารถเดินได้เหมือนคนปกติ และไม่มีอาการที่เคยเป็น
        hr
        
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding
                img(src='/img/garunty3.jpg', alt='รางวัลการันตีคุณภาพ Best product of the year 2016', style='width: 100%;')

        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding.card
                    div.col-xs-12.col-sm-3.col-md-3.clear-padding
                        img(style='width: 100%; border-radius: 8px;', src='http://www.healthstore.uk.com/images/www.healthstore.uk.com/extralarge/094425Glucosamine-MSM-Chondroitin.jpg')
                    div.col-xs-12.col-sm-9.col-md-9.clear-padding
                        h3 คอนดรอยตินช่วยเสริมสร้างกระดูกอ่อนให้กลับมาแข็งแรงขึ้นเคลื่อนไหวร่างกายได้สะดวกมากขึ้น
                        p ในปัจจุบันการสกัดสารคอนดรอยติน (Chondroitin) จากกระดูกอ่อนของปลาทะเลน้ำลึก มีการนำมาประยุกต์ใช้อย่างแพร่หลายในวงการแแพทย์
                            | ใช้สำหรับบำรุงข้อ ช่วยบรรเทาอาการจากโรคข้อเสื่อม ข้ออักเสบ ซึ่งคอนดรอยตินเป็นสารที่มีหน้าที่ทำให้เราสามารถขยับข้อต่อได้ตามปกติ
                            | เมื่อร่างกายของเรามีอายุมากขึ้นข้อต่อและกระดูกอ่อนต่างๆเริ่มเสื่อมสภาพลง
                            | จึงส่งผลให้เกิดอาการปวดตามข้อได้ง่ายขึ้น 
                            | ปัจจุบันพบว่ากระดูกอ่อนปลาฉลามซึ่งเป็นหนึ่งในส่วนผสมของดีบูน จะประกอบไปด้วย
                            | โปรตีนคอลลาเจนและสารในกลุ่มไกลโคสะมิโนไกลแคน (Glycosaminoglycans: link to wiki)
                            | ซึ่งโดยส่วนใหญ่เป็นสารคอนดรอยติน ที่จะช่วยเสริมสร้าง ซ่อมแซม บำรุงกระดูกอ่อนและยังช่วยชะลอโรคและบรรเทาอาการได้ดีในโรคข้อเข่าเสื่อม
        
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding.card  
                    div.col-xs-12.col-sm-3.col-md-3.clear-padding
                        img(style='width: 100%; border-radius: 8px;', src='http://www.healthstore.uk.com/images/www.healthstore.uk.com/extralarge/094425Glucosamine-MSM-Chondroitin.jpg')
                    div.col-xs-12.col-sm-9.col-md-9.clear-padding
                        h3 แคลเซียมสกัดจากไข่มุก ช่วยยับยั้งการสร้างเมลานิน มีส่วนช่วยเร่งการเจริญเติบโต
                        p สารอาหารจากไข่มุกธรรมชาติ (Pearl calcium) ที่เป็นหนึ่งในส่วนผสมของดีบูน
                            | อุดมไปด้วยกรด(อะมิโน 18 ชนิด: link to wiki) พร้อมด้วย(แร่ธาตุ 56: link to wiki) ที่มีความจำเป็นต่อการสังเคราะห์โครงสร้างผิว
                            | และมีความสำคัญต่อการสังเคราะห์ (DNA: link to wiki) และ (RNA: link to wiki) เพื่อสร้างเซลล์ผิวใหม่ ที่ส่งเสริมการทำงานของเอ็นไซม์ (SOD: link to wiki) ช่วยยับยั้งการสร้าง(เมลานิน: link to wiki) 
                            | มีส่วนช่วยเร่งโครงสร้างให้ร่างกายให้สูงใหญ่ได้ตามเด็กที่กำลังเจริญเติบโต

        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding.card  
                    div.col-xs-12.col-sm-3.col-md-3.clear-padding
                        img(style='width: 100%; border-radius: 8px;', src='http://www.healthstore.uk.com/images/www.healthstore.uk.com/extralarge/094425Glucosamine-MSM-Chondroitin.jpg')
                    div.col-xs-12.col-sm-9.col-md-9.clear-padding
                        h3 วิตามินดี ช่วยให้ร่างกายได้รับแคลเซียมและฟอสฟอรัสมากขึ้น
                        p โดยวิตามินดี ((Vitamin D): link to wiki) ที่เป็นหนึ่งในส่วนผสมของดีบูน มีหน้าที่ช่วยให้ร่างกายดูดซึม(แคลเซียม: link to wiki)และ(ฟอสฟอรัส: link to wiki) จากลำไส้เข้าสู่กระแสเลือดได้ดีขึ้น
                            | ซึ่งแคลเซียมนั่นก็จะถูกร่างกายนำไปเสริมสร้างกระดูกอีกที ซึ่งแคลเซียมและฟอสฟอรัสมีส่วนสำคัญต่อกระบวนการต่างๆของร่างกาย
                            | โดยเฉพาะการบำรุงรักษาของสุขภาพกระดูกและฟันหากต้องการมีกระดูกที่แข็งแรง การรับประทานแคลเซียมเพียงอย่างเดียวนั้นอาจไม่เพียงพอ
                            | เพราะอีกองค์ประกอบสำคัญในการเสริมสร้างและซ่อมแซมกระดูกก็คือวิตามินดี

        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding.card  
                    div.col-xs-12.col-sm-3.col-md-3.clear-padding
                        img(style='width: 100%; border-radius: 8px;', src='http://www.healthstore.uk.com/images/www.healthstore.uk.com/extralarge/094425Glucosamine-MSM-Chondroitin.jpg')
                    div.col-xs-12.col-sm-9.col-md-9.clear-padding
                        h3 วิตามินซีช่วยป้องกันโรคข้ออักเสบ และเสริมสร้างระบบภูมิคุ้มกันของร่างกาย
                        p โดยวิตามินซี ((Vitamin C): link to wiki) ที่เป็นหนึ่งในส่วนประกอบของดีบูน
                            | เป็นสารสำคัญในการสร้างโปรตีนชนิดหนึ่งที่เรียกว่า (คอลลาเจน: link to wiki) ซึ่งคอลลาเจนมีหน้าทีสำคัญในการสร้างกระดูก โดยทำหน้าที่ในการยึดเซลล์กระดูกเข้าด้วยกัน
                            | ดังนั้น หากร่างกายขาดวิตามินซี จะส่งผลกระทบต่อการสร้างคอลลาเจนและส่งผลต่อสุขภาพกระดูก
                            | นอกจากนี้วิตามินซียังเป็นสารต้านอนุมูลอิสระที่มีประสิทธิภาพสูง ช่วยทำให้ระบบภูมิคุ้มกันของร่างกายมีความแข็งแรงมากขึ้น 
                            | สามารถลดระดับ(คอเลสเตอรอล: link to wiki)ในเลือด ช่วยลดการเกิดเส้นเลือดอุดตันในหลอดเลือดดำ ช่วยซ่อมแซมเส้นเลือดฝอยเล็ก ๆ 
                            | รวมไปถึงเส้นเลือดหัวใจ และเส้นเลือดในร่างกาย
        
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding.card  
                    div.col-xs-12.col-sm-3.col-md-3.clear-padding
                        img(style='width: 100%; border-radius: 8px;', src='http://www.healthstore.uk.com/images/www.healthstore.uk.com/extralarge/094425Glucosamine-MSM-Chondroitin.jpg')
                    div.col-xs-12.col-sm-9.col-md-9.clear-padding
                        h3 คอลลาเจนจากปลาทะเลช่วยในการเสริมสร้างกระดูกอ่อน และให้ความแข็งแรงแก่ข้อต่อ
                        p คอลลาเจนจากปลาทะเล ((Hydrolyzed Fish Collagen): link to wiki) ที่เป็นหนึ่งในส่วนประกอบของดีบูน
                            | จะช่วยในการเสริมสร้างกระดูกอ่อนซึ่งทำหน้าที่รองรับน้ำหนัก ลดแรงกระแทก ให้มีโครงสร้างที่แข็งแรง และยืดหยุ่น
                            | ทำให้ ป้องกันหรือชะลอการเกิดข้อเสื่อม รวมถึงให้ความแข็งแรงแก่ข้อต่อในขณะที่มีการเคลื่อนไหวทำกิจกรรมต่างๆ
                            | และคอลลาเจนยังเป็นส่วนประกอบสำคัญของอวัยวะต่างๆ หลายอวัยะ เช่น เอ็นกล้ามเนื้อ กระจกตา และหมอนกระดูกสันหลัง อีกด้วย

         div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding.card  
                    div.col-xs-12.col-sm-3.col-md-3.clear-padding
                        img(style='width: 100%; border-radius: 8px;', src='http://www.healthstore.uk.com/images/www.healthstore.uk.com/extralarge/094425Glucosamine-MSM-Chondroitin.jpg')
                    div.col-xs-12.col-sm-9.col-md-9.clear-padding
                        h3 ผงขมิ้นช่วยบรรเทาอาการโรคข้อเข่าเสื่อมและไขข้ออักเสบ
                        p ผงขมิ้น ((Turmeric): link to wiki) ที่เป็นหนึ่งในส่วนประกอบของดีบูน มีสาร (curcumin: link to wiki) ที่เป็นส่วนสำคัญในการช่วยลดการอักเสบ
                            | จึงทำให้สามารถช่วยบรรเทาอาการโรคข้อเข่าเสื่อมและไขข้ออักเสบได้ เช่น (โรคข้ออักเสบรูมาตอยด์: link to wiki) และขมิ้นเป็นพืชสมุนไพรที่มีสารต้านอนุมูลอิสระอยู่เป็นจำนวนมาก
                            | มีการทดลองทางคลินิกในผู้ป่วยที่มีปัญหากระดูกและข้ออักเสบเรื้อรังโดยใช้สมุนไพรที่มีส่วนประกอบของขมิ้นพบว่า 
                            | การได้รับสมุนไพรดังกล่าว สามารถลดความเจ็บปวดที่รุนแรงได้นอกจากนี้ขมิ้นยังมีสารอาหารที่ดีต่อสุขภาพหลายอย่าง เช่น โปรตีน ใยอาหาร แคลเซียม วิตามินซี วิตามินอี วิตามินเค
                            | ด้วยการขมิ้นอุดมไปด้วยสารอาหารมาก จึงทำให้ขมิ้นถูกนำมาใช้ในการรักษาปัญหาสุขภาพต่าง ๆ อย่างแพร่หลาย
        
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding.card  
                    div.col-xs-12.col-sm-3.col-md-3.clear-padding
                        img(style='width: 100%; border-radius: 8px;', src='http://www.healthstore.uk.com/images/www.healthstore.uk.com/extralarge/094425Glucosamine-MSM-Chondroitin.jpg')
                    div.col-xs-12.col-sm-9.col-md-9.clear-padding
                        h3 สารสกัดจากเปลือกสนฝรั่งเศสช่วยสร้างความแข็งแรงให้กับไขข้อกระดูก
                        p สารสกัดจากเปลือกสนฝรั่งเศส ((Pine Bark Exrtact): link to wiki) ที่เป็นหนึ่งในส่วนประกอบของดีบูน
                            | มีส่วนผสมของ(ซัลเฟอร์: link to wiki) ที่สร้างความแข็งแรงให้กับไขข้อกระดูก และเป็นองค์ประกอบของการสังเคราะห์สารคอลลาเจนในข้อ
                            | นอกจากนี้ สารสกัดจากเปลือกสนฝรั่งเศสมีคุณสมบัติต่อต้านอนุมูลอิสระประสิทธิภาพสูง เสริมการทำงานของ(วิตามิน C: link to wiki) เเละ(วิตามิน E: link to wiki) 
                            | ช่วยป้องกันร่างกายจากอนุมูลอิสระ ที่เกิดขึ้นในร่างกายตลอดเวลา รวมทั้งปัจจัยภายนอกต่างๆ ที่เป็นสาเหตุของการเสื่อมของอวัยวะ 
                            | และยังช่วยปรับปรุงการไหลเวียนเลือดช่วยให้เลือดนำออกซิเจนไปเลี้ยงส่วนต่างๆของร่างกายได้มากขึ้น 
        
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding.card  
                    div.col-xs-12.col-sm-3.col-md-3.clear-padding
                        img(style='width: 100%; border-radius: 8px;', src='http://www.healthstore.uk.com/images/www.healthstore.uk.com/extralarge/094425Glucosamine-MSM-Chondroitin.jpg')
                    div.col-xs-12.col-sm-9.col-md-9.clear-padding
                        h3 กลูโคซามีนไฮโดรคลอไรด์ส่วนประกอบสำคัญในการสร้างเซลล์กระดูกอ่อน
                        p กลูโคซามีน ไฮโดรคลอไรด์ (Glucosamine HCI) ที่เป็นหนึ่งในส่วนประกอบของดีบูน
                            | เป็นองค์ประกอบสำคัญในการสร้างเซลล์กระดูกอ่อนช่วยซ่อมแซมเนื้อเยื่อ เสริมความแข็งแรงของเส้นเอ็นยึดข้อ 
                            | รักษาอาการข้อเสื่อม และข้ออักเสบ กลูโคซามีนจะถูกนำไปใช้เป็นส่วนประกอบในเนื้อเยื่อเกือบทุกชนิดของร่างกาย 
                            | โดยจะพบได้มากที่กระดูกอ่อน (cartilage) ซึ่งจะอยู่ที่บริเวณส่วนปลายของกระดูกโดยเฉพาะที่ข้อต่อ 
                            | กระดูกอ่อนมีความสามารถในการดึงน้ำเข้ามาหาตัวเองได้ดี จึงทำให้กระดูกอ่อนมีความยืดหยุ่น 
                            | และสามารถรองรับการเคลื่อนไหวของกระดูกข้อต่อได้
            
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding
                P โรค

        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding
                img(src='/img/d-network.jpg', alt='D Network WorldWide บริษัทขายตรงน้ำดี... สัญชาติไทย', width='100%')

        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding(style='background-color: white;')
                div.col-xs-12.col-sm-6.col-md-6.clear-padding
                    img(src='/img/S__11354179.jpg', style='width: 100%;', alt='คุณอักษรา มงคลนำเจริญ ตัวแทนจำหน่าย D-Boon')
                div.col-xs-12.col-sm-6.col-md-6.clear-padding
                    img(src='/img/S__11354180.jpg', style='width: 100%;', alt='คุณก้องเกียรติ ภัทรพรไพศาล ตัวแทนจำหน่าย D-Boon')
                        
                div.col-xs-12.col-sm-12.col-md-12.clear-padding
                    div.col-xs-12.col-sm-6.col-md-6.clear-padding
                        div.col-xs-12.col-sm-8.col-md-8.clear-padding()
                            div.col-xs-12.col-sm-12.col-md-12.clear-padding(style='background-color: #00C300; color: white; border: 1px solid #00C300; border-radius: 8px;')
                                div.col-xs-10.col-sm-10.col-md-10.clear-padding(style='text-align: center;')
                                    div(style='width: 10em; margin: 0 auto;')
                                        div.rotate-plus-15-degree.inline(style='padding-top: 5px; color: red; font-weight: bold; font-size: 1.4em;') คลิ๊ก
                                        div.inline(style='padding-top: 10px; font-size: 1.2em;') เพื่อติดต่อเรา
                                    div(style='clear: both; font-size: 1.2em; margin-bottom: 5px;') 
                                        span(title='Line ID') ID : @dboonthai
                                div.col-xs-2.col-sm-2.col-md-2.clear-padding
                                    img(src='/img/LINE.jpg', style='width: 4em; float: right; padding: 5px; padding-top: 7px;', alt='Line icon')
                            div.col-xs-12.col-sm-12.col-md-12.clear-padding(style='background-color: #018F99; color: white; border: 1px solid #018F99; border-radius: 8px;')
                                div.col-xs-10.col-sm-10.col-md-10.clear-padding(style='text-align: center;')
                                    div(style='width: 10em; margin: 0 auto;')
                                        div.rotate-plus-15-degree.inline(style='padding-top: 5px; color: red; font-weight: bold; font-size: 1.4em;') คลิ๊ก
                                        div.inline(style='padding-top: 10px; font-size: 1.2em;') เพื่อโทรสั่งซื้อ
                                    div(style='clear: both; font-size: 1.2em; margin-bottom: 5px;') 
                                        span(title='Phone-number') 095-220-6249
                                div.col-xs-2.col-sm-2.col-md-2.clear-padding
                                    img(src='/img/phone-icon-945.png', style='width: 4em; float: right; padding: 5px; padding-top: 7px;', alt='Line icon')

                        div.hidden-xs.col-sm-4.col-md-4.clear-padding
                            img(src='/img/line-ad.jpg', style='width: 100%;', alt='QR Code ศูนย์จำหน่าย D-Boon')
                    div.col-xs-12.col-sm-6.col-md-6.clear-padding(style='background-color: #7B7BC1; border: 1px solid #7B7BC1; border-radius: 8px;')
                        img(src='/img/kerry-express.jpg', style='display: block; margin: 0 auto;', alt='ส่งสินค้าผ่าน Kerry Express บริการเก็บเงินปลายทาง ส่งเร็ว มั่นใจ ได้รับสินค้า 100%')

                div.col-xs-12.col-sm-12.col-md-12.clear-padding
                    div.col-xs-12.col-sm-12.col-md-12.text-center
                        p.clear-margin(style='padding-top: 8px; font-size: 1.8em; font-weight: bold;') เลขบัญชีธนาคาร
                        p(style='font-size: 1.4em;') คุณอักษรา&nbsp;มงคลนำเจริญ
                    div.col-xs-12.col-sm-12.col-md-12.text-center.clear-padding(style='background-color: #0090D6; color: white;')
                        div.col-xs-4.col-sm-4.col-md-4.clear-padding
                            img.bank-picture(src='/img/ktb-bank.jpg', alt='ธนาคารกรุงไทย')
                            p.clear-margin(title='ชื่อธนาคาร', style='font-weight: bold;') KTB
                            p(title='ชื่อธนาคาร', style='margin-bottom: 3px;') กรุงไทย
                        div.col-xs-8.col-sm-8.col-md-8.clear-padding
                            p.clear-margin.bank-number 690-0-44529-2
                            p สาขาเซ็นทรัล&nbsp;พลาซ่า&nbsp;ลาดพร้าว
                    div.col-xs-12.col-sm-12.col-md-12.text-center.clear-padding(style='background-color: #111583; color: white;')
                        div.col-xs-4.col-sm-4.col-md-4.clear-padding
                            img.bank-picture(src='/img/bkk-bank.jpg', alt='ธนาคารกรุงเทพ')
                            p.clear-margin(title='ชื่อธนาคาร', style='font-weight: bold;') Bangkok&nbsp;Bank
                            p(title='ชื่อธนาคาร', style='margin-bottom: 3px;') กรุงเทพ
                        div.col-xs-8.col-sm-8.col-md-8.clear-padding
                            p.clear-margin.bank-number 026-4-43418-4
                            p สาขาฟิวเจอร์พาร์ค&nbsp;รังสิต
                    div.col-xs-12.col-sm-12.col-md-12.text-center.clear-padding(style='background-color: #FFBE00; color: #5d4d4d;')
                        div.col-xs-4.col-sm-4.col-md-4.clear-padding
                            img.bank-picture(src='/img/ks-bank.jpg', alt='ธนาคารกรุงศรีฯ')
                            p.clear-margin(title='ชื่อธนาคาร', style='font-weight: bold;') krungsri
                            p(title='ชื่อธนาคาร', style='margin-bottom: 3px;') กรุงศรีฯ
                        div.col-xs-8.col-sm-8.col-md-8.clear-padding
                            p.clear-margin.bank-number 527-1-15128-0
                            p สาขาเซ็นจูรี่&nbsp;พลาซ่า
                    div.col-xs-12.col-sm-12.col-md-12.text-center.clear-padding(style='background-color: #00811A; color: white;')
                        div.col-xs-4.col-sm-4.col-md-4.clear-padding
                            img.bank-picture(src='/img/k-bank.jpg', alt='ธนาคารกสิกรไทย')
                            p.clear-margin(title='ชื่อธนาคาร', style='font-weight: bold;') KBank
                            p(title='ชื่อธนาคาร', style='margin-bottom: 3px;') กสิกรไทย
                        div.col-xs-8.col-sm-8.col-md-8.clear-padding
                            p.clear-margin.bank-number 021-3-45619-9
                            p สาขาแฟชั่นไอส์แลนด์
                    div.col-xs-12.col-sm-12.col-md-12.text-center.clear-padding(style='background-color: #4B2886; color: white;')
                        div.col-xs-4.col-sm-4.col-md-4.clear-padding
                            img.bank-picture(src='/img/scb-bank.jpg', alt='ธนาคารไทยพาณิชย์')
                            p.clear-margin(title='ชื่อธนาคาร', style='font-weight: bold;') SCB
                            p(title='ชื่อธนาคาร', style='margin-bottom: 3px;') ไทยพาณิชย์
                        div.col-xs-8.col-sm-8.col-md-8.clear-padding
                            p.clear-margin.bank-number 206-2-63537-2
                            p สาขาเซ็นทรัล&nbsp;พลาซ่า&nbsp;ลาดพร้าว
                    div.col-xs-12.col-sm-12.col-md-12.text-center.clear-padding(style='background-color: white; color: #0079C2; border: 1px solid black;')
                        div.col-xs-4.col-sm-4.col-md-4.clear-padding
                            img.bank-picture(src='/img/tmb-bank.jpg', alt='ธนาคารทหารไทย' style='width: 5em;')
                            p.clear-margin(title='ชื่อธนาคาร', style='font-weight: bold;') TMB
                            p(title='ชื่อธนาคาร', style='margin-bottom: 3px;') ทหารไทย
                        div.col-xs-8.col-sm-8.col-md-8.clear-padding
                            p.clear-margin.bank-number 233-2-46207-2
                            p สาขาเซ็นทรัล&nbsp;พลาซ่า&nbsp;ลาดพร้าว

        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding
                P QA
        
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding
                P comment


        


    br
    div.container-fluid
      div.row(style='background-color: #f8f8f8;')
        //- Footer
        p ส่วนล่างของเว็บไซต์
