extends layout

block content
    nav.navbar.navbar-default
        div.container-fluid
            div.navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse' data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#')= title

            //-div.collapse.navbar-collapse(id='bs-example-navbar-collapse-1')
                ul.nav.navbar-nav
                    li.active
                        a(href='#') Link 
                            span.sr-only (current)
                    li
                        a(href='#') Link
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Dropdown
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                            li
                                a(href='#') Something else here
                            li.divider(role='separator')
                            li
                                a(href='#') Separated link
                            li.divider(role='separator')
                            li
                                a(href='#') One more separated link

                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#') Link
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Dropdown
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                            li
                                a(href='#') Something else here
                            li.divider(role='separator')
                            li
                                a(href='#') Separated link

    div.container
        div.row
            //-  แนะนำผลิตภัณฑ์
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.carousel.slide.clear-padding.card(id='DboonCarousel', data-ride='carousel')
                //- Indicators
                //-ol.carousel-indicators
                    li.active(data-target='#DboonCarousel', data-slide-to='0') 
                    li(data-target='#DboonCarousel', data-slide-to='1')

                //- Wrapper for slides
                div.carousel-inner(role='listbox')
                    div.item.active
                        img(src='/img/main-pic.jpg', alt='หากคุณมีอาการปวดข้อ ปวดเข้า ให้นึกถึงผลิตภัณฑ์อาหารเสริมดีบูน', width='460', height='345')
                    //-div.item
                        img(src='/img/d-boon-pong.jpg', alt='D-Boon ชนิดผง ผสมน้ำพร้อมรับประทาน', width='460', height='345')
                    
                
                //- Left and right controls
                //-a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                    span.sr-only Previous

                //-a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                    span.sr-only Next

        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.card(style='background-color: white;')
                p
                    h1 D-Boon 
                    p(style='font-size: 1.5em') (ดีบูน หรือ ดีบูเน่ D-Boone) เป็นผลิตภัณฑ์อาหารเสริมที่ช่วยเรื่องความเสื่อมของกระดูกและข้อต่อต่างๆในร่างกาย 
                        | มีส่วนผสมที่ลงตัวเพื่อการซ่อมแซมเนื้อเยื่อกระดูกอ่อนรอบๆข้อต่อ เอ็นร้อยหวาย และเอ็นยึดข้อ 
                        | จึงเป็นอาหารเสริมที่มียอดขายสูงสุดทั้งในยุโรปและอเมริกา ด้วยสารอาหารที่ครบถ้วนเสริมสร้างความแข็งแรงของกระดูกและข้อ
        
        //- Product reward
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding.card
                img(src='/img/garunty3.jpg', alt='รางวัลการันตีคุณภาพ Best product of the year 2016', style='width: 100%;')
        
        //- Present
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.card
                div.col-xs-12.col-sm-7.col-md-7.clear-padding
                    h2 D-Boon เหมาะสำหรับ
                    ul(style='font-size: 1.4em;')
                        li ป้องกันการเกิดโรคกระดูกพรุน
                        li โรคหมอนรองกระดูกทับเส้นประสาท
                        li โรคหมอนรองกระดูกสันหลังเคลื่อน
                        li นิ้วล็อค โรคฮิตของคนทำงาน
                        li บรรเทาอาการปวดข้อ
                        li สตรีวัยหมดประจำเดือน ขาดแคลเซียม
                        li ผู้ที่ต้องการเพิ่มความสูง
                        li นักกีฬา หรือผู้ที่ต้องการออกกำลังกายเป็นจำ
                        li ผู้ที่มีอาชีพที่ต้องยืนเป็นเวลานานๆ
                        li ผู้ที่มีปัญหาโรคข้อเสื่อม ข้ออักเสบ กระดูกพรุน
                        li ป้องกันการเกิดโรคข้อเสื่อม
                div.hidden-xs.col-sm-5.col-md-5.clear-padding
                    img(src='/img/samart.png', alt='D-Boon และ คุณสามารถ พยักฆ์อรุณ', style='width: 100%; padding: 0;')

        //- Product factor
        div.modal.fade(id='product-factor-modal', role='dialog')
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type='button', data-dismiss='modal') &times;
                        h4.modal-title Modal Header
                    div.modal-body
                        p Some text in the modal.
                    div.modal-footer
                        button.btn.btn-danger(type='button', data-dismiss='modal') ปิด
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.card(style='background-color: white;')
                h2 ส่วนประกอบสำคัญ
                div.col-xs-12.col-sm-6.col-md-6(style='padding: 2px;')
                    div(style='width: 100%; text-align: center;')
                        img(src='/img/d-boon-capsule.png', alt='D-Boon ชนิดเม็ด รับประทานวันละ 1 เม็ด')
                    h4.text-center ดีบูนชนิดแคปซูล
                    table(style='width: 100%;')
                        tr.odd(source='collagen')
                            td 
                                div.table-content-left Hydrolyzed Fish Collagen
                                div.table-content-left (คอลลาเจนจากปลาทะเล)
                            td 
                                div.table-content-right 250.000 มิลลิกรัม
                        tr(source='shark-cartilage')
                            td 
                                div.table-content-left Shark Cartilage
                                div.table-content-left (กระดูกอ่อนปลาฉลาม)
                            td 
                                div.table-content-right 100.000 มิลลิกรัม
                        tr.odd(source='pine-extract')
                            td 
                                div.table-content-left Pine Bark Extract (MSM)
                                div.table-content-left (สารสกัดจากเปลือกสน)
                            td 
                                div.table-content-right 60.000 มิลลิกรัม
                        tr(source='ascorbic')
                            td 
                                div.table-content-left Ascorbic Acid 
                                div.table-content-left (แอสคอร์บิค เอซิด)
                            td 
                                div.table-content-right 60.000 มิลลิกรัม
                        tr.odd(source='turmeric-extract-powder')
                            td 
                                div.table-content-left Turmeric Extract Powder
                                div.table-content-left (สารสกัดจากขมิ้น)
                            td 
                                div.table-content-right 30.000 มิลลิกรัม
                        tr(source='vitamin-d3')
                            td 
                                div.table-content-left Vitamin D3 100 SD/S 
                                div.table-content-left (วิตามิน ดี3)
                            td 
                                div.table-content-right 2.000 มิลลิกรัม
                div.col-xs-12.col-sm-6.col-md-6(style='padding: 2px;')
                    div(style='width: 100%; text-align: center;')
                        img(src='/img/d-boon-powder.png', alt='D-Boon ชนิดเม็ด รับประทานวันละ 1 เม็ด')
                    h4.text-center ดีบูนชนิดผง
                    table(style='width: 100%;')
                        tr.odd(source='collagen')
                            td 
                                div.table-content-left Hydrolyzed Fish Collagen
                                div.table-content-left (คอลลาเจนจากปลาทะเล)
                            td 
                                div.table-content-right 600.000 มิลลิกรัม
                        tr(source='calcium-carbonate')
                            td 
                                div.table-content-left Calcium Carbonate
                                div.table-content-left (แคลเซียมคาร์บอเนต)
                            td 
                                div.table-content-right 600.000 มิลลิกรัม
                        tr.odd(source='shark-cartilage')
                            td 
                                div.table-content-left Shark Cartilage
                                div.table-content-left (กระดูกอ่อนปลาฉลาม)
                            td 
                                div.table-content-right 500.000 มิลลิกรัม
                        tr(source='beta-glucan')
                            td 
                                div.table-content-left Beta Glucan
                                div.table-content-left (เบต้ากลูแคนจากยีสต์)
                            td 
                                div.table-content-right 300.000 มิลลิกรัม
                        tr.odd(source='pine-extract')
                            td 
                                div.table-content-left Pine Bark Extract (MSM)
                                div.table-content-left (สารสกัดจากเปลือกสน)
                            td 
                                div.table-content-right 50.000 มิลลิกรัม
                        tr(source='ascorbic')
                            td 
                                div.table-content-left Ascorbic Acid 
                                div.table-content-left (แอสคอร์บิค เอซิด)
                            td 
                                div.table-content-right 1800.000 มิลลิกรัม
                        tr.odd(source='vitamin-d3')
                            td 
                                div.table-content-left Vitamin D3 100 SD/S 
                                div.table-content-left (วิตามิน ดี3)
                            td 
                                div.table-content-right 2.000 มิลลิกรัม
                    br        
        //- Feedback  
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.card
                div.row.media
                    div.media-left.media-top.col-xs-12.col-sm-5.col-md-4(style='padding-top: .8em;padding-bottom: 2%;')
                        div.col-xs-12.col-sm-12.col-md-12.clear-padding
                            img.media-object(class='img-responsive img-circle feedback-minimum-pic', src='/img/review_customer_1.jpg')        
                    div.media-body(class='feedback-media-body')
                        h4.media-heading(style='font-weight: bold;') ผลตอบรับจาก คุณโกสม 
                        p
                            b อาการ : 
                            a(href='https://th.wikipedia.org/wiki/%E0%B9%82%E0%B8%A3%E0%B8%84%E0%B8%99%E0%B8%B4%E0%B9%89%E0%B8%A7%E0%B8%A5%E0%B9%87%E0%B8%AD%E0%B8%81', target='_blank') นิ้วล๊อค
                            | เมื่อก่อนขับมอเตอร์ไซค์รับจ้างเป็นอาชีพเสริม ทั้งช่วงเช้าและเย็นทุกวันจนมีอาการนิ้วโป้งล๊อค งอไม่ได้ รวมทั้งปวดและตึงบริเวณหลัง จนต้องให้ลูกขึ้นเหยียบหลังเป็นประจำ
                        p  
                            b ผลจากทาน ดีบูน (คู่กับ โกเรจินส์ ) : 
                            | ครบ 1 เดือน อาการนิ้วล๊อคเริ่มดีขึ้นได้จนเป็นปกติ ผลพลอยได้ตามมาคือ อาการหลังแข็ง ปวดและตึง ก็หายไปแล้ว
                        p(style='color:red') (ผลลัพธ์ขึ้นอยู่กับสภาพร่างกายของแต่ละบุคคล)
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.card
                div.row.media
                    div.media-left.media-top.col-xs-12.col-sm-5.col-md-4(style='padding-top: .8em;padding-bottom: 2%;')
                        div.col-xs-12.col-sm-12.col-md-12.clear-padding
                            img.media-object(class='img-responsive img-circle feedback-minimum-pic', src='/img/review_customer_2.jpg') 
                    div.media-body(class='feedback-media-body')
                        h4.media-heading(style='font-weight: bold;') ผลตอบรับจาก คุณรุ่ง
                        p
                            b อาการ : 
                            a(href='http://www.vcharkarn.com/blog/119819', target='_blank') หมอนรองกระดูกทับเส้นประสาท
                            | มีอาการปวดหลัง ขาเริ่มไม่มีความรู้สึก เดินๆอยู่ก็ล้ม ลุกยืนไม่ขึ้น ใช้ชีวิตลำบาก
                        p
                            b ผลจากทาน “ดีบูน” (ชนิดผง) คู่กับ “อเลอไทด์” : 
                            br 
                            | ช่วงแรก : ขาเริ่มรู้สึกมีแรง อาการปวดหลังเบาขึ้นมาก
                            br 
                            | ช่วงหลัง : อาการดีขึ้นอย่างเห็นได้ชัด ปัจจุบันไม่มีอาการปวดแล้ว และยังทานต่อเนื่องเพื่อบำรุงและป้องกัน
                        p(style='color:red') (ผลลัพธ์ขึ้นอยู่กับสภาพร่างกายของแต่ละบุคคล)
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.card
                div.row.media
                    div.media-left.media-top.col-xs-12.col-sm-5.col-md-4(style='padding-top: .8em;padding-bottom: 2%;')
                        div.col-xs-12.col-sm-12.col-md-12.clear-padding
                            img.media-object(class='img-responsive img-circle feedback-minimum-pic', src='/img/review_customer_3.jpg')
                    div.media-body(class='feedback-media-body')
                        h4.media-heading(style='font-weight: bold;') ผลตอบรับจาก คุณแม่อ่อน
                        p
                            b อาการ : 
                            a(href='https://www.bumrungrad.com/th/joint-replacement-surgery-center-bangkok-thailand/conditions/knee-osteoarthritis', target='_blank') ข้อเข่าเสื่อม
                            | ปวดเข่าอักเสบและบวม ปวดมากๆบริเวณเข่า ลุกก็ปวด นั่งก็ปวดเนื่องจากอักเสบและบวมมากๆ จนต้องดูดน้ำออกจากเข่าเพื่อลดอาการบวม และต้องฉีกยาระงับอาการปวดด้วย ใช้ชีวิตลำบากมาก
                        p
                            b ผลจากทาน “ดีบูน” (ชนิดผง) และ (ชนิดแคปซูล) : 
                            br
                            | ช่วงแรก : ทาน “ดีบูน” (ชนิดผง) วันล่ะ 2 ซอง อาการปวดเบาขึ้นมาก เดินได้สะดวกขึ้น อาการบวมลดลง เริ่มเดิน ลุก นั่ง คล่องตัวขึ้น
                            br
                            | ช่วงหลัง : ทาน “ดีบูน” (ชนิดแคปซูล) ต่อตอนนี้แทบจะไม่มีอาการปวดเลย และยังทานอย่างต่อเนื่องเพื่อบำรุงและป้องกัน
                        p(style='color:red') (ผลลัพธ์ขึ้นอยู่กับสภาพร่างกายของแต่ละบุคคล)
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.card
                div.row.media
                    div.media-left.media-top.col-xs-12.col-sm-5.col-md-4(style='padding-top: .8em;padding-bottom: 2%;')
                        div.col-xs-12.col-sm-12.col-md-12.clear-padding
                            img.media-object(class='img-responsive img-circle feedback-minimum-pic', src='/img/review_customer_4.jpg')
                    div.media-body(class='feedback-media-body')
                        h4.media-heading(style='font-weight: bold;') ผลตอบรับจาก คุณป้ายุพิน
                        p 
                            b อาการ : 
                            a(href='https://www.bumrungrad.com/th/joint-replacement-surgery-center-bangkok-thailand/conditions/knee-osteoarthritis', target='_blank') ข้อเข่าอักเสบ
                            | ระยะแรกเวลายืนและเดินจะมีอาการปวดและบวมมากๆ
                        p
                            b ผลจากทาน “ดีบูน” (ชนิดผง) และ (ชนิดแคปซูล) : 
                            br
                            | ช่วงแรก : ทาน “ดีบูน” (ชนิดผง) อาการบวมลดลง เริ่มเดินคล่องตัวมากขึ้น
                            br
                            | ช่วงหลัง : ทาน “ดีบูน” (ชนิดแคปซูล) ปัจจุบันไม่มีอาการปวดแล้ว และยังทานต่อเนื่องเพื่อบำรุงและป้องกัน
                        p(style='color:red') (ผลลัพธ์ขึ้นอยู่กับสภาพร่างกายของแต่ละบุคคล)
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.card
                div.row.media
                    div.media-left.media-top.col-xs-12.col-sm-5.col-md-4(style='padding-top: .8em;padding-bottom: 2%;')
                        div.col-xs-12.col-sm-12.col-md-12.clear-padding
                            img.media-object(class='img-responsive img-circle feedback-minimum-pic', src='/img/review_customer_5.jpg')
                    div.media-body(class='feedback-media-body')
                        h4.media-heading(style='font-weight: bold;') ผลตอบรับจาก คุณป้าฤดี
                        p
                            b อาการ : 
                            a(href='https://www.bumrungrad.com/th/joint-replacement-surgery-center-bangkok-thailand/conditions/knee-osteoarthritis', target='_blank') ข้อเข่าเสื่อม
                            | ดังก๊อบแก๊บปวดเข่ามากๆ มีเสียงดังก๊อบแก๊บบริเวณหัวเข่า ต้องใช้ไม้เท้าประคองเวลายืนและเดิน
                        p
                            b ผลจากทาน “ดีบูน” (ชนิดผง) และ (ชนิดแคปซูล) : 
                            br
                            | ช่วงแรก : ทาน “ดีบูน” (ชนิดผง) รู้สึกอาการปวดเบาขึ้นมาก เสียงก็อบแก๊บเริ่มหายไป อาการเสียวบริเวณข้อเข่าลดลง
                            br
                            | ช่วงหลัง : ทาน “ดีบูน” (ชนิดแคปซูล) สามารถเดินได้เองโดยไม่ต้องใช้ไม้เท้าพยุง ประทับใจมากๆทานต่อเพื่อป้องกันและบำรุง
                        p(style='color:red') (ผลลัพธ์ขึ้นอยู่กับสภาพร่างกายของแต่ละบุคคล)
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.card
                div.row.media(class='media')
                    div.media-left.media-top.col-xs-12.col-sm-5.col-md-4(style='padding-top: .8em;padding-bottom: 2%;')
                        div.col-xs-12.col-sm-12.col-md-12.clear-padding
                            img.media-object(class='img-responsive img-circle feedback-minimum-pic', src='/img/review_customer_6.jpg')  
                    div.media-body(class='feedback-media-body')
                        h4.media-heading(style='font-weight: bold;') ผลตอบรับจาก คุณปัลดา
                        P 
                            a(href='https://www.bumrungrad.com/th/joint-replacement-surgery-center-bangkok-thailand/conditions/knee-osteoarthritis', target='_blank') ข้อเข่าเสื่อม
                            | มานาน 1 ปีมีอาการปวดเข่าทั้ง 2 ข้างมานานกว่า 1 ปีคุณหมอบอกข้อเข่าเสื่อม ให้ยาแก้ปวดและยาคลายกล้ามเนื้อมาทาน ก็ไม่ดีขึ้นระยะหลังยืนได้นาน ไม่ถึงชั่วโมง 
                            | และเวลาขึ้นบันไดต้องโหนขึ้น จนต้องลาออกจากงานที่ทำ พอทานดีบูนจากเพื่อนที่แนะนำทานไป 1 กล่อง(5 ซอง)
                            | ปรากฏว่าอาการปวดลดลงขึ้นบันไดไม่ต้องโหนหรือจับราวบันไดได้แล้วประทับใจดีบูนมากค่ะ
                        p(style='color:red') (ผลลัพธ์ขึ้นอยู่กับสภาพร่างกายของแต่ละบุคคล)
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.card
                div.row.media(class='media')
                    div.media-left.media-top.col-xs-12.col-sm-5.col-md-4(style='padding-top: .8em;padding-bottom: 2%;')
                       div.col-xs-12.col-sm-12.col-md-12.clear-padding
                            img.media-object(class='img-responsive img-circle feedback-minimum-pic', src='/img/review_customer_7.jpg')
                    div.media-body(class='feedback-media-body')
                        h4.media-heading(style='font-weight: bold;') ผลตอบรับจาก คุณเจริญ โปร่งศิริ จ.ประจวบศีรีขันธ์
                        p
                            | โดนล้อยางรถบนต์ ตกทับจนขาหักหมอต้องผ่าตัดใส่เหล็กและเข้าเฝือกแต่หลังจากถอดเฝือกออกมามีอาการปวดที่ขามาก เวลาเดินจะเหมือนคนขาไม่เท่ากันลูกสาวได้ซื้อโกเรจินส์-ดี 
                            | ทานคู่กับ ดีบูน ทานได้ 1 สัปดาห์ ก็สามารถเดินได้เหมือนคนปกติ และไม่มีอาการที่เคยเป็น
                        p(style='color:red') (ผลลัพธ์ขึ้นอยู่กับสภาพร่างกายของแต่ละบุคคล)

        //- Product properties
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding.card
                div.col-xs-12.col-sm-12.col-md-12
                    h2 สรรพคุณของดีบูน
                    ul(id='product-factor-source')
                        li(data-for='shark-cartilage')
                            h4(name='header') กระดูกอ่อนปลาฉลามช่วยเสริมสร้างกระดูกอ่อนให้กลับมาแข็งแรง เคลื่อนไหวร่างกายได้สะดวก
                            p(name='content') กระดูกอ่อนปลาฉลามที่เป็นส่วนประกอบของดีบูน ประกอบไปด้วย
                                a(href='https://th.wikipedia.org/wiki/%E0%B8%84%E0%B8%AD%E0%B8%A5%E0%B8%A5%E0%B8%B2%E0%B9%80%E0%B8%88%E0%B8%99', target='_blank') คอลลาเจน
                                |  และสารในกลุ่ม
                                a(href='https://th.wikipedia.org/wiki/%E0%B9%84%E0%B8%81%E0%B8%A5%E0%B9%82%E0%B8%84%E0%B8%AA%E0%B8%B0%E0%B8%A1%E0%B8%B4%E0%B9%82%E0%B8%99%E0%B9%84%E0%B8%81%E0%B8%A5%E0%B9%81%E0%B8%84%E0%B8%99', target='_blank') ไกลโคสะมิโนไกลแคน
                                |  ซึ่งสารในกลุ่มไกลโคสะมิโนไกลแคนนั้นโดยส่วนใหญ่เป็นสาร 
                                a(href='http://www.pharmacy.mahidol.ac.th/dic/news_week_full.php?id=481', target='_blank') คอนดรอยติน (Chondroitin)
                                |  โดยสารนี้เป็นส่วนประกอบของกระดูกอ่อน
                                | ทำให้กระดูกอ่อนมีคุณสมบัติยืดหยุ่น ทนทานต่อแรงกดดัน สามารถรองรับกระดูกข้อต่อได้
                            hr
                        li(data-for='calcium-carbonate')
                            h4(name='header') แคลเซียมคาร์บอเนตช่วยเสริมสร้างกระดูก ป้องกันโรคกระดูกพรุน
                            p(name='content') 
                                a(href='http://haamor.com/th/%E0%B9%81%E0%B8%84%E0%B8%A5%E0%B9%80%E0%B8%8B%E0%B8%B5%E0%B8%A2%E0%B8%A1%E0%B8%84%E0%B8%B2%E0%B8%A3%E0%B9%8C%E0%B8%9A%E0%B8%AD%E0%B9%80%E0%B8%99%E0%B8%95/', target='_blank') แคลเซียมคาร์บอเนต
                                | นั้นเป็นส่วนผสมของผลิตภัณฑ์หลายอย่าง เช่น นมผง ชีส แยม หมากฝรั่ง ผักผลไม้กระป๋อง 
                                | ยาลดกรด ยาแก้ท้องอืดท้องเสีย ยาบำรุงเสริมสร้างกระดูก และดีบูนก็เป็นหนึ่งในนั้น ซึ่ง
                                a(href='http://haamor.com/th/%E0%B9%81%E0%B8%84%E0%B8%A5%E0%B9%80%E0%B8%8B%E0%B8%B5%E0%B8%A2%E0%B8%A1%E0%B8%84%E0%B8%B2%E0%B8%A3%E0%B9%8C%E0%B8%9A%E0%B8%AD%E0%B9%80%E0%B8%99%E0%B8%95/', target='_blank') แคลเซียมคาร์บอเนต
                                | นั้นมีสรรพคุณหลายอย่าง เช่น ป้องกัน
                                a(href='http://haamor.com/th/%E0%B8%81%E0%B8%A3%E0%B8%B0%E0%B8%94%E0%B8%B9%E0%B8%81%E0%B8%9E%E0%B8%A3%E0%B8%B8%E0%B8%99/', target='_blank') โรคกระดูกพรุน
                                |  ช่วยให้มีระดับแคลเซียมในกระแสเลือดมากขึ้น แก้ท้องอืดท้องเสีย
                                |  บรรเทาอาการกรดไหลย้อนและอาหารไม่ย่อย เป็นต้น
                            hr
                        li(data-for='vitamin-d3')
                            h4(name='header') วิตามิน D3 เสริมการดูดซึมแคลเซียมเข้าสู่ร่างกายให้ดียิ่งขึ้น
                            p(name='content') ผลิตภัณฑ์ดีบูนไม่เพียงแต่ผสมแค่
                                a(href='http://www.pr.chula.ac.th/index.php/15-article/81-1-000-1-200-360-600-800-40', target='_blank') แคลเซียม
                                | เท่านั้น ยังคำนึงถึงการรับแคลเซียมเข้าสู่ร่างกายอย่างมีประสิทธิภาพด้วยส่วนผสม
                                a(href='http://www.siamchemi.com/%E0%B8%A7%E0%B8%B4%E0%B8%95%E0%B8%B2%E0%B8%A1%E0%B8%B4%E0%B8%99%E0%B8%94%E0%B8%B5/', target='_blank') วิตามิน D3
                                | จะช่วยให้ร่างกายสามารถดูดซึมแคลเซียม และ
                                a(href='https://th.wikipedia.org/wiki/%E0%B8%9F%E0%B8%AD%E0%B8%AA%E0%B8%9F%E0%B8%AD%E0%B8%A3%E0%B8%B1%E0%B8%AA', target='_blank') ฟอสฟอรัส
                                | ได้มากขึ้น ทำให้ร่างกายมีกระดูกที่แข็งแรง
                            hr
                        li(data-for='collagen') 
                            h4(name='header') คอลลาเจนจากปลาทะเลช่วยป้องกัน และชะลอโรคข้อเข่าเสื่อม
                            p(name='content') 
                                a(href='https://th.wikipedia.org/wiki/%E0%B8%84%E0%B8%AD%E0%B8%A5%E0%B8%A5%E0%B8%B2%E0%B9%80%E0%B8%88%E0%B8%99', target='_blank') คอลลาเจน
                                | เป็นโปรตีนอย่างหนึ่งที่สำคัญต่อร่างกาย เพราะเป็นส่วนประกอบของหลายๆอวัยวะ เช่น กล้ามเนื้อ เอ็น ผิวหนัง และยังพบว่ามีมากใน
                                | กระจกตา 
                                a(href='https://th.wikipedia.org/wiki/%E0%B8%81%E0%B8%A3%E0%B8%B0%E0%B8%94%E0%B8%B9%E0%B8%81%E0%B8%AD%E0%B9%88%E0%B8%AD%E0%B8%99', target='_blank') กระดูกอ่อน
                                |  หมอนรองกระดูก เป็นต้น ซึ่งหน้าที่อย่างหนึ่งของคอลลาเจน
                                | คือ เสริมสร้างกระดูกอ่อนให้มีโครงสร้างที่แข็งแรง ยืดหยุ่น รองรับน้ำหนักได้ดี จึงทำให้สามารถป้องกันหรือชะลอการเกิด
                                a(href='https://www.bumrungrad.com/th/joint-replacement-surgery-center-bangkok-thailand/conditions/knee-osteoarthritis', target='_blank') โรคข้อเข่าเสื่อม
                                | ได้ ผลิตภัณฑ์ดีบูนจึงเลือกคอลลาเจนจากปลาทะเลเป็นหนึ่งในส่วนผสมหลักของผลิตภัณฑ์
                            hr
                        li(data-for='beta-glucan')
                            h4(name='header') เบต้ากลูแคนจากยีสต์ช่วยลดอาการปวดข้อ และป้องกันโรคไขข้ออักเสบ
                            p(name='content') 
                                a(href='https://en.wikipedia.org/wiki/Beta-glucan', target='_blank') เบต้ากลูแคน (Beta Glucan)
                                |  มีหน้าที่ในการช่วยกระตุ้นการทำงานของ
                                a(href='https://th.wikipedia.org/wiki/%E0%B8%A3%E0%B8%B0%E0%B8%9A%E0%B8%9A%E0%B8%A0%E0%B8%B9%E0%B8%A1%E0%B8%B4%E0%B8%84%E0%B8%B8%E0%B9%89%E0%B8%A1%E0%B8%81%E0%B8%B1%E0%B8%99', target='_blank') ระบบภูมิคุ้มกัน
                                | ของร่างกายร่างกายที่ชื่อว่า
                                a(href='https://sites.google.com/site/lifecellthailand/GCMAF', target='_blank') แมโครฟาจ (Macrophage)
                                |  ซึ่งภูมิคุ้มกันที่ว่านี้ สามารถทำลายเชื้อจุลินทรีย์ที่เป็นสาเหตุของ
                                a(href='https://th.wikipedia.org/wiki/%E0%B8%82%E0%B9%89%E0%B8%AD%E0%B8%AD%E0%B8%B1%E0%B8%81%E0%B9%80%E0%B8%AA%E0%B8%9A', target='_blank') โรคไขข้ออักเสบ
                                | ได้ ทำให้ผลิตภัณฑ์ดีบูนที่มีส่วนผสมของเบต้ากลูแคน สามารถช่วยรักษาหรือบรรเทาอาการของโรคไขข้ออักเสบ
                                | ด้วยระบบภูมิคุ้มกันของร่างกายอย่างเป็นธรรมชาติ
                            hr
                        li(data-for='pine-extract')
                            h4(name='header') สารสกัดจากเปลือกสนฝรั่งเศสช่วยสร้างความแข็งแรงให้กับไขข้อกระดูก
                            p(name='content') หนึ่งใน
                                a(href='https://mahosot.com/%E0%B8%AA%E0%B8%B2%E0%B8%A3%E0%B8%AA%E0%B8%81%E0%B8%B1%E0%B8%94%E0%B8%88%E0%B8%B2%E0%B8%81%E0%B9%80%E0%B8%9B%E0%B8%A5%E0%B8%B7%E0%B8%AD%E0%B8%81%E0%B8%AA%E0%B8%99.html', target='_blank') สารสกัดจากเปลือกสน
                                | นั้นคือ
                                a(href='https://healthgossip.co/what-is-sulfur/', target='_blank') กำมะถัน
                                | ที่เป็นส่วนช่วยในการสังเคราะห์คอลลาเจน ซึ่งคอลลาเจนนั้นเป็นส่วนประกอบของกระดูกอีกทีหนึ่ง และยังมีสาร
                                a(href='https://en.wikipedia.org/wiki/Proanthocyanidin', target='_blank') พิกโนจีนอล (Pycnogenol)
                                |  คอยทำหน้าที่ปกป้องและประสานคอลลาเจนไม่ให้เสื่อมสภาพ นอกจากนี้ยังมีสาร
                                a(href='https://en.wikipedia.org/wiki/Flavonoid', target='_blank') กลุ่มไบโอฟลาโวนอยด์ (Bioflavonoids)
                                |  ที่เสริมการทำงานของ
                                a(href='https://medthai.com/%E0%B8%A7%E0%B8%B4%E0%B8%95%E0%B8%B2%E0%B8%A1%E0%B8%B4%E0%B8%99%E0%B8%8B%E0%B8%B5/', target='_blank') วิตามิน C
                                |  และ
                                a(href='https://medthai.com/%E0%B8%A7%E0%B8%B4%E0%B8%95%E0%B8%B2%E0%B8%A1%E0%B8%B4%E0%B8%99%E0%B8%AD%E0%B8%B5/', target='_blank') วิตามิน E
                                |  ช่วยปกป้องร่างกายจากอนุมูลอิสระที่เกิดขึ้นในร่างกาย
                                | ด้วยประโยชน์ที่หลากหลาย ผลิตภัณฑ์ดีบูนจึงเลือกสารสกัดจากเปลือกสนฝรั่งเศษมาเป็นส่วนประกอบ
                            hr
                        li(data-for='ascorbic')
                            h4(name='header') แอสคอร์บิค เอซิด ช่วยป้องกันโรคข้ออักเสบ และเสริมสร้างระบบภูมิคุ้มกันของร่างกาย
                            p(name='content') 
                                a(href='http://www.siamchemi.com/%E0%B8%A7%E0%B8%B4%E0%B8%95%E0%B8%B2%E0%B8%A1%E0%B8%B4%E0%B8%99%E0%B8%8B%E0%B8%B5/', target='_blank') แอสคอร์บิค เอซิด (Ascorbic Acid)
                                |  หรือ 
                                a(href='https://medthai.com/%E0%B8%A7%E0%B8%B4%E0%B8%95%E0%B8%B2%E0%B8%A1%E0%B8%B4%E0%B8%99%E0%B8%8B%E0%B8%B5/', target='_blank') วิตามิน C
                                |  เป็นสารสำคัญในการสร้าง
                                a(href='https://th.wikipedia.org/wiki/%E0%B8%84%E0%B8%AD%E0%B8%A5%E0%B8%A5%E0%B8%B2%E0%B9%80%E0%B8%88%E0%B8%99', target='_blank') คอลลาเจน
                                |  ซึ่งคอลลาเจนมีหน้าทีสำคัญในการสร้างกระดูก
                                |  โดยทำหน้าที่ในการยึดเซลล์กระดูกเข้าด้วยกัน นอกจากนี้วิตามิน C ยังเป็นสารต้านอนุมูลอิสระที่มีประสิทธิภาพสูง
                                |  ช่วยทำให้
                                a(href='https://th.wikipedia.org/wiki/%E0%B8%A3%E0%B8%B0%E0%B8%9A%E0%B8%9A%E0%B8%A0%E0%B8%B9%E0%B8%A1%E0%B8%B4%E0%B8%84%E0%B8%B8%E0%B9%89%E0%B8%A1%E0%B8%81%E0%B8%B1%E0%B8%99', target='_blank') ระบบภูมิคุ้มกัน
                                | ของร่างกายมีความแข็งแรงมากขึ้น สามารถลดระดับ
                                a(href='http://healthydeedee.com/%E0%B9%84%E0%B8%82%E0%B8%A1%E0%B8%B1%E0%B8%99-%E0%B8%84%E0%B8%AD%E0%B9%80%E0%B8%A5%E0%B8%AA%E0%B9%80%E0%B8%95%E0%B8%AD%E0%B8%A3%E0%B8%AD%E0%B8%A5%E0%B8%AA%E0%B8%B9%E0%B8%87-%E0%B8%84%E0%B8%B7%E0%B8%AD/', target='_blank') คอเลสเตอรอล
                                | ในเลือด ช่วยลดการเกิดเส้นเลือดอุดตันในหลอดเลือดดำ ช่วยซ่อมแซมเส้นเลือดฝอยเล็ก ๆ
                                |  รวมไปถึงเส้นเลือดหัวใจ และเส้นเลือดในร่างกาย ผลิตภัณฑ์ดีบูนที่มีส่วนผสมของวิตามิน C 
                                | ที่ช่วยเสริมการทำงานของระบบภูมิคุ้มกันของร่างกาย จึงทำให้สามารถป้องกันหรือชะลอการเกิด
                                a(href='https://th.wikipedia.org/wiki/%E0%B8%82%E0%B9%89%E0%B8%AD%E0%B8%AD%E0%B8%B1%E0%B8%81%E0%B9%80%E0%B8%AA%E0%B8%9A', target='_blank') โรคข้ออักเสบ
                                | ได้
                            hr
                        li(data-for='turmeric-extract-powder')
                            h4(name='header') สารสกัดจากผงขมิ้น ช่วยบรรเทาอาการจากโรคข้อเข่าเสื่อม และโรคข้ออักเสบ
                            p(name='content') ภายในสารสกัดจากผงขมิ้นมีสารที่มีชื่อว่า 
                                a(href='https://curcuminherb.wordpress.com/2016/08/10/%E0%B9%80%E0%B8%84%E0%B8%AD%E0%B8%A3%E0%B9%8C%E0%B8%84%E0%B8%B9%E0%B8%A1%E0%B8%B4%E0%B8%99-curcumin-%E0%B8%84%E0%B8%B7%E0%B8%AD%E0%B8%AD%E0%B8%B0%E0%B9%84%E0%B8%A3/', target='_blank') เคอร์คูมิน curcumin
                                |  ซึ่งมีฤทธิ์ต้านการอักเสบจึงทำให้สามารถบรรเทาอาการจาก
                                a(href='https://www.bumrungrad.com/th/joint-replacement-surgery-center-bangkok-thailand/conditions/knee-osteoarthritis', target='_blank') โรคข้อเข่าเสื่อม
                                |  และ
                                a(href='https://th.wikipedia.org/wiki/%E0%B8%82%E0%B9%89%E0%B8%AD%E0%B8%AD%E0%B8%B1%E0%B8%81%E0%B9%80%E0%B8%AA%E0%B8%9A', target='_blank') โรคข้ออักเสบ
                                | ได้ นอกจากนี้สารสกัดจากผงขมิ้นที่เป็นหนึ่งในส่วนผสมของผลิตภัณฑ์ดีบูน ยังมีสารอาหารที่ดีต่อสุขภาพหลายอย่าง เช่น 
                                a(href='https://medthai.com/%E0%B8%A7%E0%B8%B4%E0%B8%95%E0%B8%B2%E0%B8%A1%E0%B8%B4%E0%B8%99%E0%B8%9A%E0%B8%B53/', target='_blank') วิตามิน B3
                                |  วิตามิน C 
                                a(href='https://medthai.com/%E0%B8%A7%E0%B8%B4%E0%B8%95%E0%B8%B2%E0%B8%A1%E0%B8%B4%E0%B8%99%E0%B8%AD%E0%B8%B5/', target='_blank') วิตามิน E
                                |  
                                a(href='https://medthai.com/%E0%B8%A7%E0%B8%B4%E0%B8%95%E0%B8%B2%E0%B8%A1%E0%B8%B4%E0%B8%99%E0%B9%80%E0%B8%84/', target='_blank') วิตามิน K
                                |  โพแทสเซียม แคลเซียม ทองแดง เหล็ก แมกนีเซียม และสังกะสี ด้วย
                    div(style='margin-top: 2em;')
       

        //- Sickness    
        //-div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.card 
                h3 โรคกระดูกพรุน คืออะไร ?
                p โรคกระดูกพรุน คือ โรคกระดูกชนิดหนึ่งที่กระดูกเริ่มเสื่อมและบางลงเนื่องจากการสูญเสียแคลเซียมที่สะสมในกระดูก
                    | โรคนี้จะไม่มีสัญญานบ่งบอกว่าเป็นโรคจนกว่าจะพบว่ากระดูกแตกหรือหักจากการกระแทกที่ไม่รุนแรง 
                    | พบได้บ่อยบริเวณกระดูกสันหลัง สะโพก หรือข้อมือ รวมทั้งยังสามารถเกิดได้กับกระดูกส่วนอื่นๆ 
                    | ของร่างกายอีกด้วย ทั้งนี้โรคกระดูกพรุนเป็นสาเหตุสำคัญที่ทำให้เกิดภาวะกระดูกหักหรือกระดูกสันหลังผิดรูปในสตรีสูงอายุ 
                p สาเหตุของโรคกระดูกพรุน มีดังนี้
                ul
                    li การสูญเสียฮอร์โมนเพศหญิงเนื่องจากหมดประจำเดือน เป็นสาเหตุที่พบได้บ่อยของการเกิดโรคกระดูกพรุน 
                        | โดย 25% ของสตรีที่มีอายุมากกว่า 60 ปีมักพบว่าเป็นโรคกระดูกพรุน
                    li การที่สตรีหมดประจำเดือนเร็วหรือได้รับการผ่าตัดรังไข่ทิ้งก่อนอายุ 45 ปี
                    li อายุที่มากขึ้น โดยเมื่ออายุมากกว่า 50 ปี กระดูกจะบางลงทุก 1-3% ทุกปี
                
                p ผลิตภัณฑ์ดีบูน มีส่วนผสมของแคลเซียมสกัดจากไข่มุกที่ช่วยในการเสริมสร้างกระดูก และวิตามินดีที่ช่วยให้ร่างกายดูดซึมแคลเซียม 
                    | จึงสามารถช่วยลดความเสี่ยง หรือบรรเทาอาการของโรคกระดูกพรุน และทำให้กระดูกกลับมาแข็งแรงได้
                
                p ศึกษาข้อมูลเพิ่มเติม 
                    a(href='https://www.bumrungrad.com/th/orthopedic-surgery-care-center-bangkok-thailand/conditions/osteoporosis-cause-treatment', target='_blank') คลิ๊ก
        
        //-div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.card 
                h3 โรคข้อเข่าเสื่อม คืออะไร ?
                p โรคที่เกิดจากความเสื่อมของกระดูกอ่อนผิวข้อต่อ ทั้งทางด้านรูปร่าง โครงสร้างการทำงานของกระดูกข้อต่อและกระดูกบริเวณใกล้ข้อ 
                    | การเปลี่ยนแปลงที่เกิดขึ้นไม่สามารถกลับสู่สภาพเดิมและอาจมีความเสื่อมรุนแรงขึ้นตามลำดับ โรคข้อเข่าเสื่อมจะพบมากในวัยกลางคน 
                    | และผู้สูงอายุซึ่งมีแนวโน้มเพิ่มสูงขึ้นอย่างต่อเนื่อง ผู้ที่มีภาวะข้อเข่าเสื่อมมากถ้าไม่ได้รับการรักษาหรือปฎิบัติอย่างเหมาะสม โรคจะดำเนินไปเรื่อยๆ 
                    | อาจทำให้เกิดอาการเจ็บปวด ข้อเข่าผิดรูปทำให้เดินได้ไม่ปกติ 
                p อาการของโรคข้อเข่าเสื่อม มีดังนี้
                ul
                    li เจ็บปวด เป็นอาการที่พบบ่อยที่สุด อาจเป็นปวดแบบเมื่อยๆ พอทน หรือปวดแบบเป็นๆ หายๆ
                    li ในรายที่เข่าได้รับบาดเจ็บ จะปวดแบบเฉียบพลันและปวดรุนแรง
                    li เข่าที่บวมทันทีภายหลังจากได้รับบาดเจ็บ มักเกิดจากมีเลือดออกภายในข้อเข่า
                    li อาการบวมที่เกิดขึ้นช้าๆ มักเกิดจากมีความผิดปกติขององค์ประกอบภายในข้อเอง
                    li เข่าฝืดหรือยึดติด อาจเป็นเฉพาะบางช่วงเวลาของวัน เช่น ตอนเช้าหลังตื่นนอน นั่งนานๆ แล้วลุกขึ้น 
                        | หรือเกิดขึ้นภายหลังจากได้รับบาดเจ็บที่ข้อเข่า
                
                p ผลิตภัณฑ์ดีบูน มีส่วนผสมของคอลลาเจนจากปลาทะเล สารสกัดคอนดรอยตินจากกระดูกอ่อนของปลาทะเลน้ำลึก ผงขมิ้น
                    | สารสกัดจากเปลือกสนฝรั่งเศส ที่สามารถช่วยเสริมสร้างกระดูกอ่อน และวิตามินดีที่ช่วยให้ร่างกายดูดซึมแคลเซียม
                    | จึงสามารถช่วยบรรเทาอาการเจ็บปวดตามข้อ และเสริมสร้างกระดูกอ่อนให้กลับมาแข็งแรงอีกครั้ง 
                
                p ศึกษาข้อมูลเพิ่มเติม 
                    a(href='https://www.bumrungrad.com/th/joint-replacement-surgery-center-bangkok-thailand/conditions/knee-osteoarthritis', target='_blank') คลิ๊ก
        
        //- Company Picture
        //-div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding(style='margin-top: 0.5em;')
                img(src='/img/d-network.jpg', alt='D Network WorldWide บริษัทขายตรงน้ำดี... สัญชาติไทย', width='100%')

        //- Contact
        div.row 
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.clear-padding.card(style='background-color: white;')
                div.col-xs-12.col-sm-6.col-md-6.clear-padding
                    img(src='/img/S__11354179.jpg', style='width: 100%;', alt='คุณอักษรา มงคลนำเจริญ ตัวแทนจำหน่าย D-Boon')
                div.col-xs-12.col-sm-6.col-md-6.clear-padding
                    img(src='/img/S__11354180.jpg', style='width: 100%;', alt='คุณก้องเกียรติ ภัทรพรไพศาล ตัวแทนจำหน่าย D-Boon')
                        
                div.col-xs-12.col-sm-12.col-md-12.clear-padding
                    div.col-xs-12.col-sm-6.col-md-6.clear-padding
                        div.col-xs-12.col-sm-8.col-md-8.clear-padding()
                            div.col-xs-12.col-sm-12.col-md-12.clear-padding(name='line-at', style='background-color: #00C300; color: white; border: 1px solid #00C300;')
                                div.col-xs-10.col-sm-10.col-md-10.clear-padding(style='text-align: center;')
                                    div(style='width: 10em; margin: 0 auto;')
                                        div.rotate-plus-15-degree.inline(name='blink', style='padding-top: 5px; color: red; font-weight: bold; font-size: 1.4em;') คลิ๊ก
                                        div.inline(style='padding-top: 10px; font-size: 1.2em;') เพื่อติดต่อเรา
                                    div(style='clear: both; font-size: 1.2em; margin-bottom: 5px;') 
                                        span(title='Line ID') ID : @dboonthai
                                div.col-xs-2.col-sm-2.col-md-2.clear-padding
                                    img(src='/img/LINE.jpg', style='width: 4em; float: right; padding: 5px; padding-top: 7px;', alt='Line icon')
                            div.col-xs-12.col-sm-12.col-md-12.clear-padding(name='call-us', style='background-color: #018F99; color: white; border: 1px solid #018F99;')
                                div.col-xs-10.col-sm-10.col-md-10.clear-padding(style='text-align: center;')
                                    div(style='width: 10em; margin: 0 auto;')
                                        div.rotate-plus-15-degree.inline(name='blink', style='padding-top: 5px; color: red; font-weight: bold; font-size: 1.4em;') คลิ๊ก
                                        div.inline(style='padding-top: 10px; font-size: 1.2em;') เพื่อโทรสั่งซื้อ
                                    div(style='clear: both; font-size: 1.2em; margin-bottom: 5px;') 
                                        span(title='Phone-number') 095-220-6249
                                div.col-xs-2.col-sm-2.col-md-2.clear-padding
                                    img(src='/img/phone-icon-945.png', style='width: 4em; float: right; padding: 5px; padding-top: 7px;', alt='Line icon')

                        div.hidden-xs.col-sm-4.col-md-4.clear-padding
                            img(src='/img/line-ad.jpg', style='width: 100%;', alt='QR Code ศูนย์จำหน่าย D-Boon')
                    div.col-xs-12.col-sm-6.col-md-6.clear-padding(style='background-color: #EE6F1E; border: 1px solid #EE6F1E;')
                        img(src='/img/kerry-express.jpg', style='display: block; margin: 0 auto;', alt='ส่งสินค้าผ่าน Kerry Express บริการเก็บเงินปลายทาง ส่งเร็ว มั่นใจ ได้รับสินค้า 100%')

                div.col-xs-12.col-sm-12.col-md-12.clear-padding
                    div.col-xs-12.col-sm-12.col-md-12.text-center
                        p.clear-margin(style='padding-top: 8px; font-size: 1.8em; font-weight: bold;') เลขบัญชีธนาคาร
                        p(style='font-size: 1.4em;') คุณอักษรา มงคลนำเจริญ
                    div.col-xs-12.col-sm-12.col-md-12.text-center.clear-padding(style='background-color: #0090D6; color: white;')
                        div.col-xs-4.col-sm-4.col-md-4.clear-padding
                            img.bank-picture(src='/img/ktb-bank.jpg', alt='ธนาคารกรุงไทย')
                            p.clear-margin(title='ชื่อธนาคาร', style='font-weight: bold;') KTB
                            p(title='ชื่อธนาคาร', style='margin-bottom: 3px;') กรุงไทย
                        div.col-xs-8.col-sm-8.col-md-8.clear-padding
                            p.clear-margin.bank-number 690-0-44529-2
                            p สาขาเซ็นทรัล พลาซ่า ลาดพร้าว
                    div.col-xs-12.col-sm-12.col-md-12.text-center.clear-padding(style='background-color: #111583; color: white;')
                        div.col-xs-4.col-sm-4.col-md-4.clear-padding
                            img.bank-picture(src='/img/bkk-bank.jpg', alt='ธนาคารกรุงเทพ')
                            p.clear-margin(title='ชื่อธนาคาร', style='font-weight: bold;') Bangkok Bank
                            p(title='ชื่อธนาคาร', style='margin-bottom: 3px;') กรุงเทพ
                        div.col-xs-8.col-sm-8.col-md-8.clear-padding
                            p.clear-margin.bank-number 026-4-43418-4
                            p สาขาฟิวเจอร์พาร์ค รังสิต
                    div.col-xs-12.col-sm-12.col-md-12.text-center.clear-padding(style='background-color: #FFBE00; color: #5d4d4d;')
                        div.col-xs-4.col-sm-4.col-md-4.clear-padding
                            img.bank-picture(src='/img/ks-bank.jpg', alt='ธนาคารกรุงศรีฯ')
                            p.clear-margin(title='ชื่อธนาคาร', style='font-weight: bold;') krungsri
                            p(title='ชื่อธนาคาร', style='margin-bottom: 3px;') กรุงศรีฯ
                        div.col-xs-8.col-sm-8.col-md-8.clear-padding
                            p.clear-margin.bank-number 527-1-15128-0
                            p สาขาเซ็นจูรี่ พลาซ่า
                    div.col-xs-12.col-sm-12.col-md-12.text-center.clear-padding(style='background-color: #00811A; color: white;')
                        div.col-xs-4.col-sm-4.col-md-4.clear-padding
                            img.bank-picture(src='/img/k-bank.jpg', alt='ธนาคารกสิกรไทย')
                            p.clear-margin(title='ชื่อธนาคาร', style='font-weight: bold;') KBank
                            p(title='ชื่อธนาคาร', style='margin-bottom: 3px;') กสิกรไทย
                        div.col-xs-8.col-sm-8.col-md-8.clear-padding
                            p.clear-margin.bank-number 021-3-45619-9
                            p สาขาแฟชั่นไอส์แลนด์
                    div.col-xs-12.col-sm-12.col-md-12.text-center.clear-padding(style='background-color: #4B2886; color: white;')
                        div.col-xs-4.col-sm-4.col-md-4.clear-padding
                            img.bank-picture(src='/img/scb-bank.jpg', alt='ธนาคารไทยพาณิชย์')
                            p.clear-margin(title='ชื่อธนาคาร', style='font-weight: bold;') SCB
                            p(title='ชื่อธนาคาร', style='margin-bottom: 3px;') ไทยพาณิชย์
                        div.col-xs-8.col-sm-8.col-md-8.clear-padding
                            p.clear-margin.bank-number 206-2-63537-2
                            p สาขาเซ็นทรัล พลาซ่า ลาดพร้าว
                    div.col-xs-12.col-sm-12.col-md-12.text-center.clear-padding(style='background-color: white; color: #0079C2; border: 1px solid black;')
                        div.col-xs-4.col-sm-4.col-md-4.clear-padding
                            img.bank-picture(src='/img/tmb-bank.jpg', alt='ธนาคารทหารไทย' style='width: 5em;')
                            p.clear-margin(title='ชื่อธนาคาร', style='font-weight: bold;') TMB
                            p(title='ชื่อธนาคาร', style='margin-bottom: 3px;') ทหารไทย
                        div.col-xs-8.col-sm-8.col-md-8.clear-padding
                            p.clear-margin.bank-number 233-2-46207-2
                            p สาขาเซ็นทรัล พลาซ่า ลาดพร้าว

        //- QA
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.card
                h3.text-center คำถามเกี่ยวกับผลิตภัณฑ์ที่พบบ่อย

                div.q
                    button.btn.btn-success.btn-sm(id='q1') คำตอบ
                    span.q ดีบูน ช่วยอะไรได้บ้าง ?
                div.card.clear-margin.a(data-for='q1')
                    span ช่วยบำรุงไขข้อ จุดข้อต่อต่างๆ ของร่างกาย รวมถึงผู้ป่วยที่เป็นโรครูมาตอยด์พาร์กินสัน 
                        | เก๊าท์ ส่วนวัยกำลังโต สามารถเพิ่มความสูงได้เป็นอย่างดี และการทานดีบูน เป็นประจำ จะทำให้ไขกระดูกมีความแข็งแรง 
                        | ทำให้การผลิตเลือดมีประสิทธิภาพสูง

                div.q
                    button.btn.btn-success.btn-sm(id='q2') คำตอบ
                    span.q คนเป็นภูมิแพ้ทาน ดีบูน ได้ไหม ?
                div.card.clear-margin.a(data-for='q2')
                    span ผู้ที่เป็นภูมิแพ้ สามารถทานดีบูนได้ ไม่มีผลข้างเคียงใดๆ

                div.q
                    button.btn.btn-success.btn-sm(id='q3') คำตอบ
                    span.q เด็กสามารถทาน ดีบูน เพื่อเพิ่มความสูงได้หรือไม่ ?
                div.card.clear-margin.a(data-for='q3')
                    span เหมาะมาก สามารถทานดีบูนได้ดีมากเพราะ ดีบูน มีส่วนผสมที่สกัดมาจากธรรมชาติ
                        | ซึ่งผ่านการวิเคราะห์วิจัยให้ได้สารสกัดที่ลงตัว ทำให้มีผลดีกับวัยที่กำลังเจริญเติบโต 
                
                div.q
                    button.btn.btn-success.btn-sm(id='q4') คำตอบ
                    span.q โรคที่ไม่ควรทาน ดีบูน มีอะไรบ้าง?
                div.card.clear-margin.a(data-for='q4')
                    span ผู้ที่ไม่แนะนำให้ทานดีบูนได้แก่ ผู้ที่เป็นนิ่วในระบบทางเดินปัสสาวะ นิ่วในไต และผู้ที่มีสภาวะแคลเซียมในเลือดสูง

                div.q
                    button.btn.btn-success.btn-sm(id='q5') คำตอบ
                    span.q ผู้ที่เคยกระดูกหักสามารถทาน ดีบูน ได้หรือไม่ ?
                div.card.clear-margin.a(data-for='q5')
                    span สามารถทานได้ยิ่งดีมากๆ เพราะจะช่วยประสานบริเวณที่หักให้หายได้เร็วยิ่งขึ้น
                
                div.q
        
        div.row
            div.hidden-xs.col-sm-2.col-md-2
            div.col-xs-12.col-sm-8.col-md-8.card(id='fb-root')
                div.fb-comments(data-href='http://localhost:3000/', data-width='100%', data-numposts='5')
                div.fb-like(style='padding-left: 1em; margin-bottom: 1em;', data-href='https://www.facebook.com/dbooneth/', data-layout='standard', 
                            data-action='like', data-size='small', data-show-faces='true', data-share='true')

    script(type='text/javascript', src='/js/Product-factor-modal.js')
    script(type='text/javascript', src='/js/font-blink.js')
    script(type='text/javascript', src='/js/Contact.js')
    script(type='text/javascript', src='/js/Q-and-A.js')
    script(type='text/javascript', src='/js/facebook-sdk.js')