extends layout

block content
    nav.navbar.navbar-default
        div.container-fluid
            div.navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse' data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#')= title

            div.collapse.navbar-collapse(id='bs-example-navbar-collapse-1')
                ul.nav.navbar-nav
                    li.active
                        a(href='#') Link 
                            span.sr-only (current)
                    li
                        a(href='#') Link
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Dropdown
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                            li
                                a(href='#') Something else here
                            li.divider(role='separator')
                            li
                                a(href='#') Separated link
                            li.divider(role='separator')
                            li
                                a(href='#') One more separated link

                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#') Link
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Dropdown
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                            li
                                a(href='#') Something else here
                            li.divider(role='separator')
                            li
                                a(href='#') Separated link

    div.container
        div.row(style='background-color: white;')
            //-  แนะนำผลิตภัณฑ์
            div.hidden-xs.col-sm-6.col-md-6(style='text-align: right') 
                h1(style='font-weight: bold') D-Boon 
                p(style='font-size: 1.5em') D-Boon เป็นผลิตภัณฑ์อาหารเสริม
                p(style='font-size: 1.5em') ช่วยเรื่องความเสื่อมของกระดูกและข้อต่อต่างๆในร่างกาย 
                p(style='font-size: 1.5em') ด้วยส่วนผสมที่ลงตัวเพื่อการซ่อมแซมเนื้อเยื่อกระดูกอ่อน
                p(style='font-size: 1.5em') มียอดขายสูงสุดทั้งในยุโรปและอเมริกา

            div.hidden-xs.col-sm-6.col-md-6
                img(src='/img/pic_dboon.jpg', alt='ผลิตภัณฑ์อาหารเสริม D-Boon', style='width: 100%;')

        div.row(style='background-color: white;')
            //- แนะนำส่วนผสมและข้อดีของส่วนผสม
            div.hidden-xs.col-sm-12.col-md-12
                h2(style='font-weight: bold; padding-left: 1.5em;') D-Boon ช่วยลดความเสื่อมของกระดูกอย่างไร
            
            div.hidden-xs.col-sm-6.col-md-6
                //- Left
                div.row
                    div.hidden-xs.col-sm-12.col-md-12
                        div.card
                            div.inline.card-content
                                h3.card-content Chondroitin
                                p.card-content &nbsp;&nbsp;&nbsp;เป็นสารที่อยู่ในบริเวณข้อต่อตามร่างกายโดยเฉพาะบริเวณกระดูกอ่อน ซึ่งมีหน้าที่ทำให้เราสามารถขยับข้อต่อได้ตามปกติ เมื่อร่างกายของ
                            div.inline.card-img
                                img.img-rounded(src='/img/chondroitin.jpg', alt='chondroitin', style='width: 100%;')
                            div.clearBoth
                                p.card-content-next เรามีอายุมากขึ้นข้อต่อและกระดูกอ่อนต่างๆเริ่มเสื่อมสภาพลง จึงส่งผลให้เกิดอาการปวดตามข้อได้ง่ายขึ้น การเสริมสร้างด้วยคอนดรอยตินนั้นจะช่วยเสริมสร้างกระดูกอ่อนให้กลับมาแข็งแรงขึ้นเคลื่อนไหวร่างกายได้ง่ายสะดวกมากขึ้น ในปัจจุบันมีการสกัดสารคอนดรอยตินจากกระดูกอ่อนของปลาทะเลน้ำลึกเพื่อนำมาประยุกต์ใช้อย่างแพร่หลายในวงการแแพทย์ สำหรับบำรุงข้อช่วยบรรเทาอาการจากโรคข้อเสื่อม ข้ออักเสบและบรรเทาอาการอักเสบของผิวหนัง โดยพบว่ากระดูกอ่อนปลาฉลามจะประกอบไปด้วย โปรตีนคอลลาเจนและสารในกลุ่มไกลโคสะมิโนไกลแคน (Glycosaminoglycans) ซึ่งโดยส่วนใหญ่เป็นสารคอนดรอยติน (Chondroitin) ที่จะช่วยเสริมสร้าง ซ่อมแซม บำรุงกระดูกอ่อนและยังช่วยชะลอโรคและบรรเทาอาการได้ดีในโรคข้อเข่าเสื่อม
                    div.hidden-xs.col-sm-12.col-md-12
                        div.card
                            div.inline.card-content
                                h3.card-content Vitamin C
                                p.card-content &nbsp;&nbsp;&nbsp;เป็นสารต้านอนุมูลอิสระที่มีประสิทธิภาพสูง วิตามินซีช่วยทำให้ระบบภูมิคุ้มกันของร่างกายมีความแข็งแรงมากขึ้น ช่วยป้องกัน โรคข้ออักเสบ
                            div.inline.card-img
                                img.img-rounded(src='/img/Vitamin-C.jpg', alt='chondroitin', style='width: 100%;')
                            div.clearBoth
                                p.card-content-next เนื่องจากวิตามินซีเป็นสารสำคัญในการสร้างโปรตีนชนิดหนึ่งที่เรียกว่า คอลลาเจน ซึ่งคอลลาเจนมีหน้าทีสำคัญในการสร้างกระดูก โดยทำหน้าที่ในการยึดเซลล์กระดูกเข้าด้วยกัน ดังนั้น หากร่างกายขาดวิตามินซี จะส่งผลกระทบต่อการสร้างคอลลาเจนและส่งผลต่อสุขภาพกระดูกนอกจากนี้วิตามีนซียังสามารถลดระดับคอเลสเตอรอลในเลือด และช่วยลดการเกิดเส้นเลือดอุดตันในหลอดเลือดดำช่วยซ่อมแซมเส้นเลือดฝอยเล็ก ๆ รวมไปถึงเส้นเลือดหัวใจ และเส้นเลือดในร่างกาย
                    div.hidden-xs.col-sm-12.col-md-12
                        div.card
                            div.inline.card-content
                                h3.card-content Vitamin D
                                p.card-content &nbsp;&nbsp;&nbsp;เป็นส่วนสำคัญสำหรับการดูดซึมและการเผาผลาญของแคลเซียมและฟอสฟอรัส ซึ่งช่วยให้ร่างกายได้รับแคลเซียมและฟอสฟอรัสมากขึ้น
                            div.inline.card-img
                                img.img-rounded(src='/img/Vitamin-D.jpg', alt='chondroitin', style='width: 100%;')
                            div.clearBoth
                                p.card-content-next โดยวิตามินดีมีหน้าที่ในการดูดซึมแคลเซียมและฟอสฟอรัส จากลำไส้เข้าสู่กระแสเลือด ซึ่งแคลเซียมนั่นก็จะถูกร่างกายนำไปเสริมสร้างกระดูกอีกที ซึ่งแคลเซียมและฟอสฟอรัสมีส่วนสำคัญต่อกระบวนการต่างๆของร่างกายโดยเฉพาะการบำรุงรักษาของสุขภาพกระดูกและฟันหากต้องการมีกระดูกที่แข็งแรง การรับประทานแคลเซียมเพียงอย่างเดียวนั้นอาจไม่เพียงพอ เพราะอีกองค์ประกอบในการเสริมสร้างให้ร่างกายดูดซึม และใช้แคลเซียมได้อย่างมีประสิทธิภาพก็คือวิตามินดีนั่นเอง
                    div.hidden-xs.col-sm-12.col-md-12
                        div.card
                            div.inline.card-content
                                h3.card-content Glucosamine HCI
                                p.card-content &nbsp;&nbsp;&nbsp;เป็นสารอาหารที่เป็นองค์ประกอบสำคัญในการสร้างเซลล์กระดูกอ่อนช่วยซ่อมแซมเนื้อเยื่อที่เกี่ยวพัน เสริมความแข็งแรงของเส้นเอ็นยึดข้อ 
                            div.inline.card-img
                                img.img-rounded(src='/img/glucosamine-hcl.jpg', alt='chondroitin', style='width: 100%;')
                            div.clearBoth
                                p.card-content-next รักษาอาการข้อเสื่อมและข้ออักเสบเป็นสารประกอบประเภทน้ำตาลโมเลกุลเดี่ยว (monosaccharide) ที่ปกติถูกสร้าง และพบในร่างกายของทุกคนอยู่แล้ว กลูโคซามีนจะถูกนำไปใช้เป็นสารตั้งต้นในการสร้างสารที่เป็นส่วนประกอบในเนื้อเยื่อเกือบทุกชนิดของร่างกาย โดยจะพบได้มากที่กระดูกอ่อน (cartilage)ซึ่งจะอยู่ที่บริเวณส่วนปลายของกระดูกโดยเฉพาะที่ข้อต่อ กระดูกอ่อนนั้นประกอบด้วยเมทริกซ์ของเส้นใยคอลลาเจนที่มีโปรตีโอไกลแคนอยู่ภายใน โดยโปรตีโอไกลแคนเป็นสารโมเลกุลใหญ่ที่มีความสามารถในการดึงน้ำเข้ามาหาตัวเองได้ดี จึงทำให้กระดูกอ่อนมีความยืดหยุ่น และสามารถรองรับการเคลื่อนไหวของกระดูกข้อต่อได้นอกจากนี้กลูโคซามีนยังมีผลลดการอักเสบของข้อด้วย

            div.hidden-xs.col-sm-6.col-md-6
                //- Right
                div.row
                    div.hidden-xs.col-sm-12.col-md-12
                        div.card
                            div.inline.card-content
                                h3.card-content Collagen
                                p.card-content &nbsp;&nbsp;&nbsp;เป็นโปรตีนที่สำคัญของร่างกาย เพราะเป็นส่วนประกอบสำคัญของอวัยวะต่างๆหลายๆอวัยะ เช่น เอ็นกล้ามเนื้อ เอ็น และผิวหนัง ทั้งพบมากใน
                            div.inline.card-img
                                img.img-rounded(src='/img/collagen.jpg', alt='chondroitin', style='width: 100%;')
                            div.clearBoth
                                p.card-content-next กระจกตา กระดูกอ่อน กระดูก หลอดเลือด ทางเดินอาหารและหมอนกระดูกสันหลังโดยคอลลาเจนชนิดที่พบได้ในกระดูกอ่อนและหมอนรองกระดูกสันหลังคือคอลลาเจนในกลุ่มที่ 2 ( Collagen Type II ) คอลลาเจนกลุมนี้ จะช่วยในการเสริมสร้างกระดูกอ่อนซึ่งทำหน้าที่รองรับน้ำหนัก ลดแรงกระแทกรวมถึงให้ความแข็งแรงแก่ข้อต่อในขณะที่มีการเคลื่อนไหวทำกิจกรรมต่างๆ สำหรับ คอลลาเจนไฮโดรไลเสทนั้นเป็นคอลลาเจนเสริมซึ่งจะช่วยกระตุ้นการสังเคราะห์คอลลาเจนในกลุ่มที่มีความสำคัญในการคงสุขภาพที่ดีของข้อต่อไว้ และด้วยกรดอะมิโนในคอลลาเจนไฮโดรไลเสท จะถูกนำมาสร้างเป็นกระดูกอ่อนทำให้มีโครงสร้างที่แข็งแรงและข้อต่อที่ยืดหยุ่นและช่วยเพิ่มระดับของ กรดไฮยาลูโรนิค ซึ่งเป็นส่วนประกอบของน้ำหล่อเลี้ยงในข้อ ทำให้ป้องกันหรือชะลอการเกิดข้อเสื่อมได้อีกทั้งคอลลาเจนไฮโดรไลเสทยังสามารถถูกดูดซึมได้อย่างรวดเร็วในลำไส้เล็ก นักวิจัยพบว่าคอลลาเจนไฮโดรไลเสทที่มีอยู่ในเซลล์เพาะเลี้ยง สามารถกระตุ้นการผลิตคอลลาเจนได้ เมื่อเปรียบเทียบกับคอลลาเจนที่เกิดขึ้นโดยเซลล์ธรรมชาติ จะไม่สามารถกระตุ้นให้เกิดผลดังกล่าวได้ เช่นเดียวกับในเนื้อเยื่อค้ำจุน แสดงให้เห็นว่าคอลลาเจนไฮโดรไลเสทสามารถลดการเสื่อมของเนื้อเยื่อข้อต่อได้
                    div.hidden-xs.col-sm-12.col-md-12
                        div.card
                            div.inline.card-content
                                h3.card-content Pearl calcium
                                p.card-content &nbsp;&nbsp;&nbsp;สารอาหารจากไข่มุกธรรมชาติ  อุดมไปด้วยกรดอะมิโน 18 ชนิด เช่น Threonine, Serine, Glutamic acid, Glycene, Argine พร้อมด้วยแร่
                            div.inline.card-img
                                img.img-rounded(src='/img/shell-pearl.jpg', alt='chondroitin', style='width: 100%;')
                            div.clearBoth
                                p.card-content-next ธาตุ 56  ที่มีความจำเป็นต่อการสังเคราะห์โครงสร้างผิว เช่น Germanium, Selenium, Strontium และมีความสำคัญต่อการสังเคราะห์ DNA และ RNA เพื่อสร้างเซลล์ผิวใหม่ ที่ส่งเสริมการทำงานของเอ็นไซม์ SOD ช่วยยับยั้งการสร้างเมลานิน มีส่วนช่วยเร่งการเจริญเติบโต เร่งโครงสร้างให้ร่างกายสูงใหญ่ได้ตามเด็กที่กำลังเจริญเติบโต
                    div.hidden-xs.col-sm-12.col-md-12
                        div.card
                            div.inline.card-content
                                h3.card-content Turmeric
                                p.card-content &nbsp;&nbsp;&nbsp;เป็นพืชสมุนไพรที่มีสารต้านอนุมูลอิสระอยู่เป็นจำนวนมากที่สามารถต้านไวรัส เชื้อแบคทีเรียเชื้อรา มะเร็งและมีสารสำคัญในการออกฤทธิ์ลด
                            div.inline.card-img
                                img.img-rounded(src='/img/turmeric.jpg', alt='chondroitin', style='width: 100%;')
                            div.clearBoth
                                p.card-content-next การอักเสบ คือ สารที่มีชื่อว่า curcumin มีผลช่วยบรรเทาอาการโรคข้อเข่าเสื่อมและไขข้ออักเสบได้ เช่น รูมาตอยด์ เป็นต้น มีการทดลองทางคลินิกในผู้ป่วยที่มีปัญหากระดูกและข้ออักเสบเรื้อรังโดยใช้สมุนไพรที่มีส่วนประกอบของขมิ้นพบว่า การได้รับสมุนไพรดังกล่าว สามารถลดความเจ็บปวดที่รุนแรงได้นอกจากนี้ขมิ้นยังมีสารอาหารที่ดีต่อสุขภาพหลายอย่างเช่น โปรตีน ใยอาหาร ไนอาซิน วิตามินซี วิตามินอี วิตามินเค โพแทสเซียม แคลเซียม ทองแดง เหล็ก แมกนีเซียมและสังกะสี ด้วยการขมิ้นชันอุดมไปด้วยสารอาหารมากมาย จึงทำให้ขมิ้นชันนิยมถูกนำมาใช้ในการรักษาปัญหาสุขภาพต่างๆมากมาย
                    div.hidden-xs.col-sm-12.col-md-12
                        div.card
                            div.inline.card-content
                                h3.card-content Pine Bark Exrtact
                                p.card-content &nbsp;&nbsp;&nbsp;เป็นสารที่มีคุณสมบัติต่อต้านอนุมูลอิสระที่มีประสิทธิภาพสูง เเละยังเสริมฤทธิ์การทำงานของวิตามิน C เเละวิตามิน E ช่วยป้องกันร่างกาย
                            div.inline.card-img
                                img.img-rounded(src='/img/Pine_Bark_Extract.jpg', alt='chondroitin', style='width: 100%;')
                            div.clearBoth
                                p.card-content-next จากอนุมูลอิสระที่เกิดขึ้นในร่างกายตลอดเวลา รวมทั้งปัจจัยภายนอกต่างๆ อันเป็นสาเหตุของความเสื่อมของอวัยวะต่างๆ และยังช่วยปรับปรุงการไหลเวียนเลือดช่วยให้เลือดนำออกซิเจนไปเลี้ยงส่วนต่างๆของร่างกายได้มากขึ้น สารสกัดจากเปลือกสนฝรั่งเศสยังเป็นแหล่งธรรมชาติของสารอาหารซัลเฟอร์ ที่สร้างความแข็งแรงให้กับไขข้อกระดูก เป็นองค์ประกอบของการสังเคราะห์สารคอลลาเจนในข้อ
  
        div.row(style='background-color: white;')
            //- ข้อมูลติดต่อเรา
            div.hidden-xs.col-sm-12.col-md-12
                h2(style='font-weight: bold; padding-left: 1.5em;') ติดต่อเราได้ที่.....

