doctype html
html(lang='th')
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Prompt')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/bootstrap-social.css')
    script(type='text/javascript', src='/js/jquery-3.1.1.min.js')
  body
    block content
    
    footer.footer(style='margin-top: 1em;')
        div.container
            div.row
                div.hidden-xs.col-sm-2.col-md-2
                div.col-xs-12.col-sm-8.col-md-8
                    div.col-xs-6.col-sm-6.col-md-6(style='text-align: center;')
                        p(style='margin: 2px; color: white;') Contact us
                        p(style='margin-bottom: 2px; color: white;') 095-220-6249
                        p(style='color: white;') @dboonthai
                    div.col-xs-6.col-sm-6.col-md-6(style='text-align: center;')
                        p(style='margin: 2px; color: white;') Follow us
                        a.btn.btn-social.btn-facebook(href='https://www.facebook.com/dbooneth/', target='_blank')
                            span.fa.fa-facebook
                            span dboon thai

    script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')